%tr
  %td= page.name
  %td= page.subsite.name
  %td.actions
    - if can? :edit, Page
      = link_to 'Edit', edit_admin_page_path(page)
    - if can? :destroy, Page
      |
      = link_to 'Destroy', [:admin, page], :method => :delete, :data => {:confirm => "Are you sure?"}