.calendar
  .small-10.columns.medium-offset-1 
    .row
      .small-12.columns.custom_title= t :current_activities

  .row
    .small-10.columns.medium-offset-1
      - @events.each_with_index do |event, index|
        .row.entry{:class => index == (@events.size - 1) ? :last : false}
          .small-3.columns
            .date
              - if event.class == Festival
                = link_to event.start_at.strftime('%b %d') + '-' + event.end_at.strftime("%d."), event
              - else
                = link_to event.start_at.strftime('%b %d.'), event
          .small-8.small-offset-1.columns
            .name= link_to event.name, event