.from_the_archive{:style => "background: url(#{@archive.image.url(:full)})  no-repeat center top "}
  .pink
    .row
      .small-12.columns.large-offset-2
        .title= t(:from_the_archives)
    .row
      .small-6.columns.large-offset-2
        .year= @archive.year
    .row
      .small-9.columns.large-offset-2
        .description= raw truncate_html(@archive.activity.description, :length => 300)