
- @frontitems.each do |fi|
  - if fi.frontmodule
    - unless fi.item.nil?
      
      = render :partial => fi.frontmodule.partial_name, :locals => {:front => fi}
    - else
      = render :partial => fi.frontmodule.partial_name, :locals => {:front => fi}
