.row
  .small-9.columns
    %h3 Events
    %table.table.table-condensed
      %thead
        %tr
          %th Name
          %th Project
          %th When?
          %th Published?
          %th{:colspan => 2}
      %tbody
        - @events.each do |event|
          = render :partial => 'event', :locals => {:event => event}

.row
  .small-9.columns
    %p= link_to 'Create new event', new_admin_event_path