.row.expanded
  .small-10.columns
    %h2 Projects
    %p= link_to 'Enter new project', new_admin_project_path, :class => [:button, :small, :round]
    %table.table.table-condensed
      %thead
        %tr
          %th
          %th Name
          %th Active?
          %th{:colspan => 2}
      %tbody
        - @projects.sort_by(&:name).each do |project|
          - next unless project.root?
          = render :partial => 'project', :locals => {:project => project}
    %p= link_to 'Enter new project', new_admin_project_path, :class => [:button, :small, :round]