/* 
 *= require empathy/stylesheets/foundation_overrides
 *= require empathy/stylesheets/empathy
 *= require slick
 *= require empathy/stylesheets/jquery.mCustomScrollbar 
 *= require empathy/stylesheets/mobile
 */


@font-face {
  font-family: 'Elephant Medium';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/Elephant-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Farnham Display Medium';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/FarnhamDisplay-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Farnham Display Medium';
  font-style: italic;
  font-weight: 200;
  src: url('/assets/FarnhamDisplay-MediumItal.otf') format('opentype');
}
@font-face {
  font-family: 'Helvetica Neue Bold Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/HelveticaNeueLTCom-BdCn.ttf') format('truetype');
}




body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

