@import "foundation/functions";
@import 'variables';
$small-range: (0em, 40em); /* 0, 640px */
$medium-range: (40.063em, 121.714em); /* 641px, 1024px */
$large-range: (121.857em, 167.571em); /* 1025px, 1173px */
//$xlarge-range: (90.063em, 120em); /* 1441px, 1920px */
$xlarge-range: (167.714em); /* 1175px */

// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;
$medium-portrait-only:"#{$screen} and (orientation: portrait) and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;

$large-only: "#{$screen} and (min-width: #{lower-bound($large-range)}) and (max-width: #{upper-bound($large-range)})" !default;

@media #{$small-only} { 
  header {
    .fixed {
      max-height: initial;
      overflow: none;
    }
  }
  nav.top-bar {
   
    .name {
      max-width: 75%;
    }
    ul.title-area {
      text-align: left;
      .toggle-topbar {
        float: right;
      }
    }
    .mobile_holder {
      background-color: $grey;
    }
    .menu_wrapper {
      ul.menu_bar {
        li {
          font-size: 0.8rem;
          padding: 0 1rem;
        }
      }
    }
  }
  
  
  .empathy_container {
    &.page {
      padding-top: 220px;
      overflow: auto;
      .centered_title {
        img {
          max-height: 60px;
        }
      }
      .page_text {
        border: none;
        max-height: 90%;
        padding: 1rem 1rem 10rem 1rem;

      }
    }
  }
  
  footer {
    .logo {
      max-width: 48%;
    }

    .social {
      width: 50%;
      text-align: center;
      padding: 0;
      a {
        float: left;
        padding: 0 0.35rem;
        img {
          max-height: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 40.0625em) and (max-width:64em) {
  nav.top-bar {
 
    ul.title-area {
      text-align: left;

      overflow:hidden;
    }
    .menu_wrapper {

      float: right;
    }
    .name{
     
    }
  }
  ul.left {
    margin-left: 5rem;

    li {
      padding: 0;
      margin-bottom: 1rem;
    }
  }
  ul.social {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    li {
      a {
        img {
          max-height: 12px;
          max-width: 18px;
        }
      }
    }
  }
  
  .empathy_container { 
    &.page {
      padding-top: 24vH;
      background-position: center bottom;
      .preliminary-programme, &.preliminary-programme {
        background-position: center center;
        background-size: contain;
      }
    }
  }
  footer {
    .logo {
      max-width: 28%;
    }
    .text {
      font-size: 0.8rem;
    }
    .social {
      a {
        padding: 0 0.5rem;
        img {
          max-height: 18px;
        }
      }
    }
  }
}


// medium

@media only screen and (min-width:64.025em) and (max-width: 73.3em) {
  nav.top-bar {
    ul.title-area {
      max-width: 30%;
      li.name {
        a {
          img {
            
          }
        }
      }
    }
    ul.left {
      margin-left: 5rem;
      max-width:60%;
      li {
        margin-bottom: 1rem;
      }
    }
    ul.social {
      display: block;
      
    }
  }

}

