$quicksand: 'Quicksand', sans-serif;
$opensans: 'Open Sans', sans-serif;
$purple: #2F2E78;
$pink: #e90649;
$grey: #CFD6DA;
$fuschia: #e90649;
h1, h2, h3, h4, h5, h6 {
  font-family: $quicksand;
  font-weight: 500;
}