@import 'variables';
@import '_settings';

body {
  background-color: $light-green;
  min-height:100%;
  position:relative;

}
a {
  color: $green;
  &:hover {
    color: $salmon;
  }
}

.mobile_holder {
  background-color: $light-green;
  &.locations, &.contact {
    background-color: $blue;
  }
}

.top-bar, .title-bar {
  text-align:center;
  ul {
    background: none !important;
  }
  .toggle-topbar.menu-icon a{
    color: $green;
    padding: 0 1.625rem 0 2.5rem;
    span::after {
      box-shadow: 0 0 0 1px $green, 0 7px 0 1px $green, 0 14px 0 1px $green;
      right: 0;    
    }
  }
}
section.top-bar-section {
display: inline-block;
}

.main_nav_select {
  background-color: $light-green;
  color: $green;
  border: 1px dotted $green;
  &:focus {
    outline-color: $blue;
  }
  &.locations, &.contact {
    background-color: $blue;
    color: $light-green;
    border: 1px dotted $light-green;
  }
  option {
    color: $green;
    font-family: $arial;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.top-bar.expanded {
  .menu_wrapper {
    max-width: initial;
  }
}

.title-bar {
  @include breakpoint(small only) {
    padding: 1rem;
  }
  .title-bar-title  {
    max-width: 80%;
    margin: 0 1rem 0 0;
    li {
      list-style-type: none;
    }
  }
}


.top-bar, .title-bar {
  line-height: 1.8rem;
  background-color: $light-green;
  padding: 30px 30px 0 30px;

  .title-area {

    width: 100%;
    li {
      list-style-type: none;
    }
    .name {
      height: initial;
      float: left;
      margin-right: 3rem;
    }
  }
  &.locations, &.contact {
    background-color: $blue;


    a {
      color: $green;
    }
  }
  .languages {
    float: right;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $blue;
    font-weight: bold;
    font-style: italic;
    font-family: $built;
    a {
      color: $blue;
      font-weight: normal;
      
    }
  }
  .menu_wrapper  {

    .menu > li.is-dropdown-submenu-parent > a::after {border-color: $green transparent transparent;}
    .menu > li.is-dropdown-submenu-parent > a {
      padding: 16px;
    }
    .menu > li.is-drilldown-submenu-parent > a::after {border-color: transparent transparent transparent $green;   right: 0;}
    .menu > li.is-drilldown-submenu-parent > a {
      padding: 16px;
    }
    ul.submenu {
      border: none;
      padding: 0 0 1rem 0;
      background-color: $light-green;
      li {
        background-color: $light-green;
        padding: 1rem 0;
        margin: 0;
      }
    }
    float: left;
    width: 100%;
    padding-top: 1.5rem;

    .menu_bar {
      clear:left;
      float:left;
      list-style:none;
      margin:0;
      padding:0;
      position:relative;

      height: initial !important;
      text-align:center;

      .f-dropdown {
        background-color: $light-green;
        border: none;
        outline: none;

      
        &:after, &:before {
          border-style: none;
        }
        &.f-open-dropdown {

          &:after {
            border-style: none;
          }
        }
        li  a {
          line-height: 1.8rem;
          text-align: left;
          clear: left;
          margin: 0.5rem ;
        }
      }
      
      a, ul li a {
        font-family: $built;
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: uppercase !important;
        letter-spacing: 0.22rem;
        color: $green;
        border-bottom: 2px solid $light-green;
        &:hover {
          border-bottom: 2px solid $green;
        }
   
      }
      a {
        display:block;
        text-align: left;
        float:left;
        padding:0;
        position:relative;
        margin: 0 2.5rem;
   
        display:inline-block;
      }

    }
  }
  ul.social {
    li {
      float: left;
      padding-right: 0.4rem;
    }
  }
}

.title-bar {
  li[role=menuitem] {
    a {  
      @include breakpoint(small only) {
        padding: 0 1rem 0 0 !important;
        margin: 0 0 1rem 1rem !important;
      }
    }
  }
}

.top-bar {
  @include breakpoint(small only) {
    padding: 0 !important;
  }
  li[role=menuitem]  {
    @include breakpoint(small only) {
      margin: 0 0 0 1.2rem !important;
    }
    a {  
      @include breakpoint(small only) {
        padding: 0 1rem 0 0 !important;
        margin: 0 0 1rem 1rem !important;
      }
    }
  }
  .is-drilldown {
     @include breakpoint(small only) {
       overflow: initial;
     }
  }
}



// footer

footer {
  position:fixed; 
  left:0px; 
  bottom:0px; 
  min-height: 20px;
  max-height: 45px; 
  width:100%;
  padding: 1vH 0;
  background-color: $green;
  color: $light-green;
  z-index: 99;
  &.posts {
    position: relative;
    bottom: initial;
    padding: 6px 0;
    height: 75px;
      width:100%;
  }
  .logo {
    float: left;
    padding: 0 25px;
    @include breakpoint(small-only) {
      max-width: 40%;
    }
  }
  .dates {
    color: $light-green;
    float: left;
    font-family:  $built;
    font-weight: bold;
    padding-top: 0.475rem;
  }
  .social {
    float: right;
     padding: 0 2rem;
    @include breakpoint(small-only) {
      max-width: 60%;
      padding: 0;
    }
    a {
      img {
        max-height: 25px;
        width: auto;
      }
      @include breakpoint(small-only) {
        padding: 0.0.25rem !important;
      }
      padding: 0 1rem;
    }
   
  }

  .text {
    float: left;
    padding: 0.25rem 1rem;
    font-family: $built;
    font-weight: 600;
    a {
      color: $light-green;
    }
    font-size: 1rem;
    text-transform: lowercase;
  }
}

.top_banner {
  padding: 2.25rem 0 0 0;
}


.centered_title {
  padding: 0 0 2rem 0;
  position: relative;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-family: $built;
  color: $green;
  letter-spacing: 0.7rem;
  font-size: 5rem;
  @include breakpoint(small only) {
    font-size: 3rem;
  }
  img {
    max-height: 15vH;
  }
}

.news_front {
  padding: 3.9rem 0;
  background-color: $salmon;
}

.post {
  margin-bottom: 2rem;

  .news_image {
    width: 100%;
    overflow: hidden;
    border: 8px solid transparent;
    &:hover {
      border: 8px solid $green;
      cursor: pointer;
    }

    margin-bottom: 1.5rem;
  }
  .text_box {
    .title {
      text-transform: uppercase;
      font-family: $built;
      font-weight: bold;
      font-size: 2.25rem;
      line-height: 2.4rem;
      a { 
        color: $green;
      }
      padding-bottom: 0.6rem;
      margin-bottom: 1rem;
      border-bottom: 1px dotted $green;
    }
    .date {
      font-weight: bold;
      font-size: 1rem;
      color: $green;

      font-family: $roboto;
    }
    .body {
      font-weight: 200;
      font-size: 1rem;
      color: $green;
      font-family: $roboto;
      a { 
        color: $green;
        &:hover {
          color: $light-green;
        }
      }
    }
  }
}
  

.news_index, .news_post {
  padding: 3rem 0;
  
  .title {
    text-transform: uppercase;
    font-family: $built;
    font-weight: bold;
    color: $green;
    font-size: 2.25rem;
    line-height: 2.4rem;
    a { 
      color: $green;
    }
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
    border-bottom: 1px dotted $green;
  }
  .date {
    font-weight: bold;
    font-size: 1rem;
    color: $green;
    margin-bottom: 1rem;

    font-family: $roboto;
  }
 
  .news_body {
    margin: 1.5rem 0;
    font-weight: 200;
    font-size: 1rem;
    color: $green;
    font-family: $roboto;
    a { 
      color: $green;
      &:hover {
        color: $light-green;
      }
    }
  }

  .post {
    
    .news_image {
      background-size: cover;
      padding-bottom: 100%;
      height: 0;
      overflow: hidden;
      cursor: pointer;
      margin-bottom: 1rem;
      border: none;
      &:hover {
        border: none;
      }
      .overlay {
        opacity: 1;
        padding-bottom: 100%;
        height: 0;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
        padding: 10px 10px 100% 10px;
        background-image: none;
        font-family: $arial;
        font-size: 1rem;
        color: $green;
        display: none;
      }
    }
    .text_box {
      .date {
        margin-bottom: 2rem;
      }
    }
  }
}
.page {

  &.schedule {
    h2 {
      font-family: $built;
      color: $green;
      text-transform: uppercase;
      font-size: 1.7rem;
    }
    ul {
      margin: 1.5rem 0;
      li {
        list-style-type: none;
        clear: both;
        margin-bottom: 1.3rem;
        line-height: 1.5rem;
        small {
          font-size: 75%;
          font-weight: 400;
        }
        ul {
          margin-left: 3rem;
          li {
            color: #666;
            kbd {
              font-weight: 300;
              height: 5rem;
              color: $green;
              font-family: $built;
            }
          }
        }
        kbd {
          background: none;
          font-weight: 400;
          font-family: $arial;
          color: #000;
          border: none;
          width: 160px;
          display: block;
          float: left;
          padding-right: 25px;
          text-align: right;
          height: 3rem;
          color: $green;
          font-family:  $built;
        }
      }
    }
  }


  color: $green;
  &.locations, &.contact {
    .page_text {
      color: $light-green;
      p {
        color: $light-green;
      }
    }
  }
  .page_text {
//    background-color: $light-green;
    padding: 2rem 1rem 2rem 3rem;

    font-size: 0.8rem;
    line-height: 1rem;
    overflow: auto;
    color: $blue;
    font-family: $arial;
    h1 {
      color: $green;
    }
    h3 {
      font-family: $built;
      font-weight: bold;
      color: $green;
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }
}

.festival2017_container {


  &.page {

    background-image: url('/assets/festival2017/images/page_background_left.png'), url('/assets/festival2017/images/page_background_right.png');
    background-repeat: repeat-y;
    background-position: left top, right top;
    background-color: $light-green;


    article {
      padding-bottom: 6rem;
    }
    &.locations {
      article {
        padding-bottom: 40px;
      }
    }
  }
  
}

.event_index {
  padding: 2rem 0;
  .filters {
    margin-bottom: 3rem;
    ul {
      margin: 0;
      padding: 0;
      li {
        float: left;
        margin-right: 2rem;
        color: $green;
        font-family: $built;
        font-size: 1.75rem;
        list-style-type: none;
        padding-bottom: 0rem;
        &.active {
          border-bottom: 5px solid $green;
        
        }
        a { 
          &:hover {
            color: $blue;
            padding-bottom: 0.35rem;
            border-bottom: 5px solid $blue;
          }
          color: $green;
        }
      }
    }
  }
  .event {
    color: $green;
    .event_image {
      height: 285px;
      &:hover {
        background: none;
        cursor: pointer;
        .overlay {
          display: block;
        }
      }
      .overlay {
        background: rgba(238, 30, 70, 0.62);
        width: 103%;
        display: none;
        padding-bottom: 124%;
        margin-top: 0;
        position: relative;
        z-index: 2;

      }
      img {
        max-width: 300px;
        clip: rect(0px, 175px, 235px, 0px);
        position: absolute;
        height: auto;
        width: auto;
      }

    }
    .title {
      font-family: $built;
      font-weight: bold;
      color: $green;
      text-transform: uppercase;
      font-size: 1.1rem;
      padding-bottom: 0.6rem;
      border-bottom: 3px dotted $green;
    }
    .date {
      color: $green;
      font-family: $roboto;
      padding: 1rem 0;
    }
  }
}

#registration_form {
  background-color: $green;
  color: $light-green;
  padding: 3.125rem 0;
  h2 {
    text-transform: uppercase;
    color: $light-green;
    font-family: $built;
  }
  form {
    .error input {
      border: 3px solid black;
    }
    li {
      padding-top: 1.5rem;
      list-style-type: none;
    }
    label.label {
      background-color: $green;
      color: $light-green;
      font-family: $arial;
      font-size: 1.15rem;
      padding-bottom: 0.3rem;
      padding: 0; margin: 0;
    }
    abbr[title=required] {
      display: none;
    }
    input[type=text], input[type=email], input[type=tel], textarea {
      background-color: $light-green;
    }
    input[type=submit] {
      float: right;
      background-color: $green;
      color: $light-green;
      font-size: 1.7rem;
      text-transform: uppercase;
      font-family: $built;
      outline: none;
      border: none;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }
}


.related_content {
  padding: 4rem 0;
  h2 {
    text-transform: uppercase;
    color: $green;
    font-family: $built;
    margin-bottom: 2.5rem;
  }
  .related {
    .related_image_box {
      .overlay {
        background: rgba(238, 30, 70, 0.62);

        padding-bottom: 100%;
        position: relative;
        z-index: 2;
        &:hover {
          background: none;
          cursor: pointer;
        }
      }

    }
    h3 {
      text-transform: uppercase;
      color: $green;
      font-family: $built;
      border-bottom: 3px  dotted $green;
      padding: 1.25rem 0 0.5rem 0;
    }
    .blurb {
      font-family: $arial;
      font-size: 1rem;
      text-align: left;
      color: $green;
      padding: 0.5rem 0 2.5rem 0;
    }
  }
}

.event_single {


  .event {
    .google_map {
      display: none;
    }
    #mapcontainer {
      height: 200px;
    }
    .event_image {
      text-align: center;
    }
    .top_container {
      .title {
        font-family: $built;
        color: $green;
        text-transform: uppercase;
        font-size: 2.25rem;
        line-height: 2.9rem;
        padding: 2rem 0;
        border-bottom: 3px dotted $green;
      }
    }
    .metadata_container {
      text-align: center;
      color: $green;
      font-family: $built;
      border-bottom: 3px dotted $green;
      padding-bottom: 2rem;
      .dates {
        font-size: 1.5rem;
        padding: 2rem 0;
      }
      .place {
        font-size: 1.5rem;
        p {
          font-size: 1.5rem;
        }
        p.place_address {
          font-size: 1.313rem;
          padding: 0;
          margin: 0;
        }
        p.map_link a  {
          font-size: 1rem;
          color: $green;
          text-decoration: underline;
        }
      }
      .cost {
        font-size: 1.313rem;
      }
    }
    .body_container {
      padding: 2rem 0;
      font-family: $arial;
      font-size: 1rem;
      text-align: left;
      color: $green;
      p {
        font-family: $arial;
        font-size: 1rem;
        color: $green;
        text-align: left;
      }
    }

  }
}

