$built: 'Built Titling', sans-serif;


$arial: Arial, sans-serif;

$green: #88B04B;
$light-green: #EAF0D0;
$blue: #2C2F78;
$blue2: #505AA5;
$salmon: #B06C5D;

h1, h2, h3, h4, h5, h6 {
  font-family: $built;
  font-weight: 600;
}