/*
 *= require_self

 *= require pixelache/stylesheets/foundation_overrides
 *= require pixelache/stylesheets/style.min
 *= require pixelache/stylesheets/projects
 *= require pixelache/stylesheets/event_calendar
 *= require pixelache/stylesheets/front
 *= require pixelache/stylesheets/main
 *= require pixelache/stylesheets/post
 *= require pixelache/stylesheets/event
 *= require pixelache/stylesheets/page
 *= require pixelache/stylesheets/festival
 *= require pixelache/stylesheets/footer

 */

.container {
  
}

html {
  font-size: 16px;
}
#main {
  z-index: 3;
  position: relative;
  margin-bottom: 35em;
  background-color: white;

}

span.translation_missing {
  font-size: 3em;
  background-color: red;
  color: white;
}

.top-bar .name img {
  padding: 10px 0px 0px 6px;
}

.top-bar .lang {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: white;
  float: left;
}

.outer {
  padding-bottom: 100px;
}

.takein {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
select {
    height: auto;
}

select[size], select[multiple] {
    background-image: none;
}

td .date {
  font-size: 0.8rem;
}

.share_this {
  padding: 10px 0px;
}
