/*
 *= require_self

 *= require pixelache/stylesheets/foundation_overrides
 *= require pixelache/stylesheets/style.min
 *= require pixelache/stylesheets/projects
 *= require pixelache/stylesheets/event_calendar
 *= require pixelache/stylesheets/front
 *= require pixelache/stylesheets/main
 *= require pixelache/stylesheets/post
 *= require pixelache/stylesheets/event
 *= require pixelache/stylesheets/page
 *= require pixelache/stylesheets/festival
 *= require pixelache/stylesheets/footer

 */

.container {
  
}

html {
  font-size: 16px;
}
#main {
  z-index: 3;
  position: relative;
  margin-bottom: 35em;
  background-color: white;

}

select {
    height: auto;
}

select[size], select[multiple] {
    background-image: none;
}

td .date {
  font-size: 0.8rem;
}

