/*
 *= require_self

 *= require pixelache/stylesheets/foundation_overrides
 *= require pixelache/stylesheets/style.min
 *= require pixelache/stylesheets/projects
 *= require pixelache/stylesheets/event_calendar
 *= require pixelache/stylesheets/front
 *= require pixelache/stylesheets/main
 *= require pixelache/stylesheets/post
 *= require pixelache/stylesheets/event
 *= require pixelache/stylesheets/page
 *= require pixelache/stylesheets/festival
 *= require pixelache/stylesheets/footer
 *= require pixelache/stylesheets/archives
 += require pixelache/stylesheets/residencies
 */

@import 'slick';
@import 'variables';

.container {

}

html {
  font-size: 16px;
}


#main {
  z-index: 3;
  position: relative;
  margin-bottom: 35em;
  background-color: white;

}

span.translation_missing {
  font-size: 3em;
  background-color: red;
  color: white;
}

.top-bar .name img {
  padding: 10px 0px 0px 6px;
}



.outer {
  padding-bottom: 100px;
}

.takein {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
select {
    height: auto;
}

select[size], select[multiple] {
    background-image: none;
}

td .date {
  font-size: 0.8rem;
}

.share_this {
  padding: 10px 0px;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	cursor: pointer;
	border-top: 14px solid #000;
  position: fixed;
  left: 12px;
  top: 40px;
  z-index: 13;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
  border-bottom: 14px solid #666;
  margin-top: -14px;
  float: right;
  display: none;
  position: fixed;
  right: 12px;
  top: 40px;
  z-index: 999;
}

.black {
  &.arrow-down {
    border-top: 14px solid #000;
    top: 40px;
  }
  &.arrow-up {
    top: 40px;
    z-index: 99;
  }
}


.page_tree {
  background-color: #d0d2d3;
  color: #6d6e70;
  padding: 0.5rem 0rem;
  max-height: 4rem;
  overflow: hidden;
  position: fixed;

  width: 100%;
  height: 32px;
  max-height: 32px;
  z-index: 12;
  .larger {
    a {
      font-size: 0.9rem;
    }
  }
  a {
    font-size: 0.8rem;
    color: #6d6e70;  
    &:hover {
     color: $primary-color; 
    }
  }
  
  span.leaf {
    padding-right: 5px;
    font-size: 0.8rem;
    a { 
     color: #6d6e70;   
     &:hover {
      color: $primary-color; 
     }
    }
  }
}

.pixelache_nav_menu {
  display: none;
  .final {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  &.festival_menu {
    display: block;
    ul {
        
      margin-left: 0.8rem;
      li {
        font-size: 0.8rem;

      }
    }
  }
  width: 100%;
  position: fixed;
  top: 40px;
  background-color: #666;
  padding: 10px 0px 5px 0px;
  z-index: 10;
  ul.first {
    padding-right: 1.4rem;
  }
  ul {
    border-right: 1px dotted #CCC;

    &.navhide {
      display: none;
      &.open {
        display: block !important;
      }

        
      }
    }
    padding: 0px;
    margin: 0px;

    &.inner {
      border-right: none;
    }
    li {
      font-size: 0.9rem;
      list-style-type: none;
      a {
        color: #CCC;
        &:hover {
          color: #FFF;
        }
    }
  }

}


@media only screen and (max-width: 40em)  { 
  .pixelache_nav_menu {
    ul {
      &.navhide {
        border-bottom: 1px solid #999;
        margin-bottom: 0.3rem;

      }
      li {
        
        float: left;
        padding: 0.3rem 0.4rem 0rem 0.4rem;
        border-right: 1px dotted #999;
      }
    }
  }
}

