/*
 *= require_self

 *= require pixelache/stylesheets/foundation_overrides
 *= require pixelache/stylesheets/style.min
 *= require pixelache/stylesheets/projects
 *= require pixelache/stylesheets/event_calendar
 *= require pixelache/stylesheets/front
 *= require pixelache/stylesheets/main
 *= require pixelache/stylesheets/post
 *= require pixelache/stylesheets/event
 *= require pixelache/stylesheets/page
 *= require pixelache/stylesheets/festival
 *= require pixelache/stylesheets/footer
 *= require pixelache/stylesheets/archives
 *= require pixelache/stylesheets/residencies
 *= require pixelache/stylesheets/search
 *= require pixelache/stylesheets/members

 */

@import 'slick';
@import 'variables';

.sticky_side_nav {
  position: fixed !important;  
  left: 0;  
  top: 0;  
  z-index: 100;  
}




.container {

}

html {
  font-size: 16px;
}


#main {

  position: relative;

  background-color: white;
  min-height: 550px;
}

span.translation_missing {
  font-size: 3em;
  background-color: red;
  color: white;
}

.top-bar {

  .name img {
    padding: 10px 0px 0px 6px;
  }
  ul {

    li.search_icon {
       a {
        height: 40px;
      }
    }
  }
  #searchli {
//    float: right;
    display: none;
    &.open {
      display: block;
    }
  }
}



.outer {
  padding-bottom: 100px;
}

.takein {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
select {
    height: auto;
}

select[size], select[multiple] {
    background-image: none;
}

td .date {
  font-size: 0.8rem;
}

.share_this {
  padding: 10px 0px;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	cursor: pointer;
	border-top: 14px solid #000;
  position: fixed;
  right: 12px;
  float: right;
  top: 40px;
  z-index: 13;
  &.fixed {
    position: fixed;
    top: 40px;
    float: right;
    left: inherit;
    z-index: 100;
    width: 0;
  }
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
  border-bottom: 14px solid #666;
  margin-top: -14px;
  float: right;
  display: none;
  position: fixed;
  right: 12px;
  top: 40px;
  &.fixed {
    top: 40px;
    right: 12px;
    width: 0;
    z-index: 999;
  }
  z-index: 999;
}

.black {
  &.arrow-down {
    border-top: 14px solid #000;
    top: 40px;
  }
  &.arrow-up {
    top: 40px;
    z-index: 99;
  }
}


.project_tree {
  position: absolute;
  background-color: #e0e2e3;
  color: #6d6e70;
  padding: 0.2rem 0.5rem;
//  max-height: 2.2rem;
  overflow: visible;
  width: 100%;
  top: 69px;
  ul.project_trees {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    li {
      float: left;
      list-style-type: none;
      font-size: 0.85rem;
      padding-right: 1rem;
    }
    ul.f-dropdown {
      li {
        float: none;
      }
    }
  }
  &.fixed {
    top: 69px;
    z-index: 98;
  }
  z-index: 12;
}

.page_tree {
  position: absolute;
  background-color: #d0d2d3;
  color: #6d6e70;
  padding: 0.5rem;
  max-height: 4rem;
  overflow: visible;
  width: 100%;
  top: 40px;
  
  z-index: 12;
  font-size: 0.8rem;
  &.fixed {
    top: 40px;
    z-index: 98;
  }
  .larger {
    a {
      font-size: 0.9rem;
    }
  }
  a {
    font-size: 0.8rem;
    color: #6d6e70;  
    &:hover {
     color: $primary-color; 
    }
  }
  
  span.leaf {
    padding-right: 5px;
    font-size: 0.8rem;
    a { 
     color: #6d6e70;   
     &:hover {
      color: $primary-color; 
     }
    }
  }
}

.f-topbar-fixed {
  padding-top: 0px !important;
}


.pixelache_nav_menu {
  position: absolute;
    z-index: 12;
  &.fixed {
    top: 40px;

  }
  .festival_menu_wrapper {

  
  }
  .top_of_nav {
    padding: 0.8rem 0rem;
    ul {
      margin-bottom: 0;
      
    }
  }
  display: none;
  &.festival_menu {
    display: block;

  }
  .columns {
    padding-right: 1.4rem;
  }
  .final {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  &.festival_menu {

    display: block;
    .navhide {
      display: none;
    }
    #posts_menu {
      display: none;
      &.open {
        display: block;
        .navhide {
          display: block;
          border-right: none;
        }
      }
    }
    ul {
        
      margin-left: 0.8rem;
      li {
        font-size: 0.8rem;

      }
    }
  }
  width: 100%;

  top: 40px;
  background-color: #666;
  padding: 10px 0px 5px 0px;
 
  ul.first {
    padding-right: 1.4rem;
  }
  ul {
    border-right: 1px solid #CCC;

    &.navhide {
      display: none;
      &.open {
        display: block;
      }

        
      }
    }
    padding: 0px;
    margin: 0px;

    ul.inner, ul.inner_year {
      border-right: none;
    }
    
    li {
      font-size: 0.9rem;
      line-height: 1.2rem;
      height: 1.4rem;
      overflow: hidden;
      list-style-type: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      span.date {
        font-size: 0.75rem;
        color: #999;
        padding-left: 0.4rem;
      }
      a {
        color: #CCC;
        &:hover {
          color: #FFF;
        }
    }
  }

}


