/*
 *= require_self

 *= require pixelache/stylesheets/foundation_overrides
 *= require pixelache/stylesheets/style.min
 *= require pixelache/stylesheets/projects
 *= require pixelache/stylesheets/event_calendar
 *= require pixelache/stylesheets/front
 *= require pixelache/stylesheets/main
 *= require pixelache/stylesheets/post
 *= require pixelache/stylesheets/footer
 */

.container {

}
#main {
  z-index: 3;
  position: relative;
  margin-bottom: 43em;
  padding-bottom: 3em;
}

