@import 'variables';

.yearly_archive {
  background-color: #333;
  padding: 3rem 0;
  color: #fFf;
  .year {
    font-size: 2.875rem;
    font-family: $quicksand;
    margin: 2rem 0px;
  }

  .section_title  {
    font-size: 1.625rem;
    line-height: 2.875rem;
    text-transform: uppercase;
    border-bottom: 2px solid #999;
    margin-bottom: 0.5rem;
  }
  


  .events, .project_list  {
    .row {
      margin-bottom: 0.5rem;
      .title_container {
        height: 120px;

        .name {
          position: relative;
            top: 50%;
            transform: translateY(-50%);
          font-family: $quicksand;
          font-size: 1rem;
          line-height: 1.375rem;
          a {
            color: #fff;
          }
        }
      }
      
    }

  }
  
  
  
  .tagline {
    font-family: $quicksand;
    font-size: 1.6rem;
  }
  .event {
    margin-bottom: 1.5rem;
  }
}

.document_container {
  padding: 1.5rem 0rem 2rem 0rem;
  
  .title {
    h1 {
      font-family: $quicksand;
      margin-bottom: 0.6rem;
      padding: 2rem 0px 1rem 0px;
      border-bottom: 1px solid #000;
    }
  }
  
  .downloads {
    padding-top: 1.5rem;
    
    .file {
      margin-bottom: 1.5rem;
      
      .title {
        font-size: 1.1rem;
        color: #333;
        margin-bottom: 0.5rem;
      }
      .description {
        font-size: 1rem;
        font-weight: 300;
        color: #666;
        margin-bottom: 0.8rem;
      }
    
      .metadata {
        font-size: 0.8rem;
        font-size: italic;
        color: #666;
      }
      
    }
  }
}