@import 'variables';

.sub-nav {
  dd.active {

    background-color: #32CCFF;
    a {
      color: white;
      background: none;
      &:hover, &:focus {
        background: none;
      }
    }
  }
}

.yearly_archive {
  background-color: #333;
  padding: 3rem 0;
  color: #fFf;
  .year {
    font-size: 2.875rem;
    font-family: $quicksand;
    margin-top: 3.25rem;
    a {
      letter-spacing: -0.2rem;
      color: #fff;
      font-size: 1.5rem;
      vertical-align: middle;
      padding-right: 0.5rem;
      &:hover {
        color: #32CCFF;
      }
    }
  }

  .section_title  {
    font-size: 1.625rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    border-bottom: 2px solid #999;
    margin-bottom: 0.5rem;
    margin-top: 2.75rem;
    font-family: $quicksand;
    a {
      color: #FFF;
      &:hover {
        color: #32CCFF;
      }
    }
  }
  

  .archive_image_box {
    width: 100px;
//    padding-bottom: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    
    .blue {
      background-color: #32CCFF;
      padding-bottom: 100%;
      height: 100px;
      width: 100%;
      display: none;
      overflow: hidden;
      opacity: 0.7;
      position: relative;
      .date {
        margin: 41px 15px;
        font-family: $quicksand;
        color: #FFF;
      }
    }
  }
  
  .residencies {
    .archive_image_box {
      .blue {
        .date {
          margin: 32px 15px;
        }
      }
    }
  }

  .photo_list, .post_list { 
    .image_thumbnail {
      margin-right: 10px;
      margin-bottom: 10px;
      width: 90px;
      float: left;
      
      .archive_image_box {
        width: 90px;
        height:90px;
        .blue {
          height: 90px;
        }
      }
    }
    
  }
  .events, .project_list, .document_list, .residency_list, .video_list {
    .row {
      margin-bottom: 0.5rem;
      .title_container {
        height: 100px;

        .name {
          position: relative;
            top: 50%;
            transform: translateY(-50%);
          font-family: $quicksand;
          font-size: 1rem;
          line-height: 1.375rem;
          a {
            color: #fff;
          }
        }
      }
      
    }

  }
  
  .document_list {
    .row {
     .title_container {
       height: 80px 
     }
 
    }
  }
  
  
  .tagline {
    font-family: $quicksand;
    font-size: 1.6rem;
  }
  .event {
    margin-bottom: 1.5rem;
  }
}

.document_container {
  padding: 1.5rem 0rem 2rem 0rem;
  
  .title {
    h1 {
      font-family: $quicksand;
      margin-bottom: 0.6rem;
      padding: 2rem 0px 1rem 0px;
      border-bottom: 1px solid #000;
    }
  }
  
  .downloads {
    padding-top: 1.5rem;
    
    .file {
      margin-bottom: 1.5rem;
      
      .title {
        font-size: 1.1rem;
        color: #333;
        margin-bottom: 0.5rem;
      }
      .description {
        font-size: 1rem;
        font-weight: 300;
        color: #666;
        margin-bottom: 0.8rem;
      }
    
      .metadata {
        font-size: 0.8rem;
        font-size: italic;
        color: #666;
      }
      
    }
  }
}