@import 'variables';

.festival_strip {

  padding: 8px 0px;
  font-size: 1.3rem;
  font-family: $quicksand;
  max-width: inherit;
  margin: 0;
  a {
    color: inherit;
  }
}

.event_container {
  padding-top: 4rem;
}

// "Box" event on index view

a {
  
  .event_small {
    background-size: cover;
    padding-bottom: 100%;
    height: 0;
    margin-bottom: 40px;
    overflow: hidden;
    cursor: pointer;
    .yellow {

      background-color: $our-yellow;
      opacity: 1;
      padding-bottom: 100%;
      height: 0;
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 30px;
      padding: 10px 10px 100% 10px;
      &:hover { 
       opacity: 0.75; 
      }
    }
    .metadata {
      font-family: $quicksand;
      font-size: 0.9rem;
      margin-left: 0px;
      padding: 10px 0px;
      color: #333;
      span.date {
        font-weight: bold;
      } 
      a {
        color: red;
      }
      p.place_address {
        margin-bottom: 0px;
        font-size: 0.9rem;
        a {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: bold;
          padding-left: 1em;
        }
      }
    }
  
    .title {
      font-family: $quicksand;
      color: #333;
      font-size: 1.5rem;
      line-height: 1.8rem;
      margin-bottom: 0.6rem;
    }
  
    .hashtag {
      float: right;
      right: 15px;
      font-size: 0.8rem;
      bottom: 1rem;
      color: #666;
    
      position: absolute;
    }
    .related {
      margin-top: 15px;
      font-family: $quicksand;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1rem;
      color: #666;
       border-right: 1px solid #333;
       padding-right: 10px;
       &.last {
         border-right: none;
         text-transform: none;
       }
    
    }  
    
  }

}


.event_single {
  margin-right: auto;
  margin-left: auto;

  .internal {
    padding-top: 3rem;
    padding-bottom: 10px;
  }
  
  h1 {
    font-family: $quicksand;
    font-size: 2.8rem;
    color: #333;
    text-transform: uppercase;
    margin: 20px 0px;
  }

  
  .event_image {
    margin: 0.5rem 0rem 2rem 0rem;
    &.landscape {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  
  .metadata {
    font-family: $quicksand;
    font-size: 1.5em;
    
    border-bottom: 2px solid #333;
    margin-left: 0px;
    padding: 10px 0px;
    span.date {
      font-weight: bold;
    } 

    p.place_address {
      margin-bottom: 0px;
      font-size: 0.9rem;
      a {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
        padding-left: 1em;
      }
    }
  }
  
  .title {
    font-family: $quicksand;
    color: #333;
    font-size: 2.875em;
    line-height: 3.0rem;
    padding-bottom: 30px;
    border-bottom: 2px solid #333;
    padding-left: 0px;
    a.button {
      margin: 0;
      vertical-align: top;
    }
  }
  
  .body {
    font-size: 14px;
    line-height: 26px;
    color: #666;
    border-bottom: 1px solid black;
    img {
      display: block;
      padding: 25px;
      margin: 0px auto;
    }
    p {
      color: #666;
      margin: 0px 0px 30px 0px;
    }
  }
  
 
}

body.events.show .outer {
  padding-bottom: 0;
}

.documentation {
  margin-bottom: 3rem;
  border-bottom: 1px solid black;
  padding-bottom: 3rem;

  .flickr_galleries {
    margin: 2rem 0 0 0;
    clear: left;
    .subtitle {
      font-family: $quicksand;
      font-size: 1.5rem;
      margin-bottom: 0.6rem;
    }
  }
  
  .image_carousel {

    .img {
      .thumb {
        display: none;
      }
    }
  
    ul.slick-dots {
      bottom: -75px;
      height: 75px;
      margin: 0 2.4rem;
      li {
        width: 75px;
        height: 75px;
        list-style-type: none;
        float: left;
      }
    }
  
  }
  
  .video_container {
    .video {
      margin-bottom: 2rem;
      .video_title {
        font-family: $quicksand;
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
      }
      .video_description {
        color: #333;
        font-family: inherit;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 1.4rem;
      }
    }
  }
}

.slick-slider {
  .slick-prev
  { 
    font-size: 3.4rem;
    position: absolute;
    left: 0px;
    bottom: 0;
  }
  .slick-next
  {
    font-size: 3.4rem;
    position: absolute;
    right: 0px;
    bottom: 0;
  }
  
}
