@import 'variables';
@import 'foundation_and_overrides';

// index

.festival_index {
  font-family: $quicksand;
  
  section {
    padding: 90px 0px;
    text-align: center;
    background-size: cover;
    .title {
      font-size: 5em;
      line-height: 1em;
    }
    .subtitle {
      font-size: 2em;
    }
  }
}

.festival {
  padding: 50px 0px;
  line-height: 1.5em;
  
  ul.archive {
    padding-left: 0px;
    margin-left: 0px;
    li {
      list-style-type: none;
      span.documentation_link {
        padding-left: 2rem;
        font-size: 0.8rem;
        font-style: bold;
        
        a {
          background-color: $secondary-color;
          padding: 2px;
          border: 1px solid #666;
          color: black;
          &:hover {
            color: $secondary-color;
            background-color: #999;
          }
        }
        text-transform: uppercase;
      }
    }
  }
  .festival_image {
    background-size: cover;
  }
  .children {
    .child, .accordion dd {
      .subchild {
        a {
          font-family: $quicksand;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 0.925em;
          color: #000;
        }
        padding: 10px 0px;
        border-bottom: 1px solid #000;
        &.last {
          border-bottom: none;
        }
      }
      a {
        background: none;
        font-family: $quicksand;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.125em;
        color: #000;
        padding: 0;
        &.float {
          float: left;
        }
      }
      padding: 20px 0px !important;
      border-bottom: 1px solid #000;
    }
  }


}

.festival_menu {
  .title {
    font-family: $quicksand;
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
    padding: 80px 0px 30px 0px;
    border-bottom: 1px solid #000;
  }
  .subtitle {
    margin-bottom: 0.4rem;
  }
  .date_range {
    font-size: 0.8rem;
    font-style: italic;
  }
  
}