@import 'variables';

footer {

  width: 100%;
  clear: both;
  background-color: #333;


  
  .hashtag {
    display: none;
    background-color: #808184;
    font-family: $quicksand;
    font-size: 4rem;
    color: #FFF;
    padding: 50px 0px;
    font-weight: 300;
    text-align: center;
  }
  
  .follow {
    background-color: #59595b;
    padding: 35px 0px 50px 0px;
    .follow_us_title {
      text-align: center;
      font-family: $quicksand;
      font-size: 2.0em;
      font-weight: 300;
      color: #FFF;
      margin-bottom: 20px;
    }
    .icons {
      text-align: center;
      a {
        padding: 0px 15px;
      }
    }
  }
  
  .newsletter {
    background-color: #404041;
    font-size: 1.375em;
    font-family: $quicksand;
    font-weight: 300;
    color: #FFF;
    padding: 20px 0px;
    .subscribe {
      padding-top: 7px;
    }
    input {
      background-color: #373637;
      color: #efefef;
      margin-bottom: 0px;
      border: none;
      outline: none;
      &:active, &:focus {
        background-color: #373637;
      }
    }
    button {
      font-family: $quicksand;
      font-size: 1.131rem;
      color: white; 
      background-color: black;
      height: 35px;
      padding: 5px 10px;
      margin: 0px;
    }
  }
  .footer_menu {

    list-style-type: none;
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-family: $opensans;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffff00;
    a {
      color: #ffff00;
    }
    .heading {
      text-transform: uppercase;
      color: #ffff00;
      font-family: $opensans;
      font-weight: 700;
      margin-bottom: 1rem;
      font-size: 1.3rem;
      a { 
        color: #ffff00;
      }
    }
    ul {
      margin-left: 0;
      li {
        list-style-type: none;
        font-size: 0.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #ffff00;
        a {
          color: #ffff00;
        }
      }
    }
  }
  .bottom_footer {
    background-color: #231f20;
    padding: 55px 0px;


    .menus {
      color: #fff100;
    }
    .fine_print {
      img {
        margin-bottom: 1rem;
      }
      p {
        font-size: 0.9rem;
        line-height: 1.3rem;
        color: #bbbdbf;
        margin: 5px 0px;
      }
    }
  }
}