@import 'variables';
@import 'foundation_overrides';

.three_posts {
  background-color: #FFF;
}

.multipost_selected {
  .top_post {
    padding: 2rem 0;
    
    .category {
      text-transform: uppercase;
      font-size: 0.8rem;
      padding-bottom: 0.4rem;
    }
    .title {
      font-family: $quicksand;
      font-size: 2.2rem;
      line-height: 2.5rem;
      padding: 0.8rem 0;
      margin-bottom: 0.8rem;
      border-bottom: 1px solid #333;
      border-top: 1px solid #333;
      a {
        color: #333;
        &:hover {
          color: #666;
        }
      }
    }
    
    .metadata {
      font-family: $quicksand;
      font-size: 1.1em;
      color: #333;
      
      p.place_address {
        margin-bottom: 0px;
        font-size: 0.9rem;
      } 
    }
    .read_more {
      font-family: $quicksand;
      font-size: 1.6rem;
      text-transform: lowercase;
      a {
        color: #333;
      }
    }
  }
  
}
.post_slider_container {
  background-color: black;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
  .post_slider {
    .post {
      padding: 1.6rem;
      .category {
        text-transform: uppercase;
        color: #fff;
        font-size: 0.7rem;
        padding-bottom: 0.2rem;
      }
    
      .post_image {
        padding: 0.4rem 0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        max-height: 280px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .title {
        font-family: $quicksand;
        font-size: 1.35rem;
        color: #fff;
        padding: 0.4rem 0;
        margin-bottom: 0.4rem;
        border-bottom: 1px solid #fff;
        a {
          color: #fff;
          &:hover {
            color: #ccc;
          }
        }
      }
      .metadata {
        font-family: $quicksand;
        font-size: 0.9rem;
        color: #fff;
      }
    
    }
  }
}

.three_posts, .two_posts {
  padding-bottom: 60px;
  padding-top: 50px;
  .custom_title {
    font-family: Open Sans, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.8rem;
    margin-bottom: 4.5rem; 
    float: left;
    padding: 0.4rem;
  }
  
  .top_post {
    margin-bottom: 75px;
    

  
    .title {
      font-family: $quicksand;
      font-size: 3rem;
      padding: 0.4rem;
      line-height: 3.5rem;
      padding-bottom: 1.25rem;
      border-bottom: 1px solid #333;
      a {
        color: black;
        &:hover {
          color: black;
        }
      }
    }
    .metadata {
      font-family: "Quicksand", sans-serif;
      font-size: 1.5em;
      border-bottom: 1px solid #333;
      margin-left: 0px;
      padding: 10px 0px;
      color: #333;
      p.place_address {
        margin-bottom: 0px;
        font-size: 0.9rem;
        a {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: bold;
          padding-left: 1em;
        }
      }
    }
    .body {
      font-family: Open Sans, sans-serif;
      font-size: 1.25rem;
      font-weight: 300;
      color: #999;
      padding: 0.4rem;
      line-height: 1.563rem;
      margin: 30px 0px;
    }
    .read_more {
      font-family: $quicksand;
      font-size: 1.4rem;
      padding: 0.4rem;
      text-transform: lowercase;
      a {
        color: #000;
      }
    }
  }

  .smaller_posts {

    .title {
      font-family: $quicksand;
      font-size: 1.75rem;
      line-height: 2.25rem;
      padding: 0.4rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #333;
      a {
        color: black;
        &:hover {
          color: #999;
        }
      }
    }
    .metadata {
      font-family: "Quicksand", sans-serif;
      font-size: 1.25em;
      color: #333;
      border-bottom: 1px solid #333;
      margin-left: 0px;
      padding: 10px 0px;
      p.place_address {
        margin-bottom: 0px;
        font-size: 0.9rem;
        a {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: bold;
          padding-left: 1em;
        }
      }
    }
    .body {
      font-family: Open Sans, sans-serif;
      font-size: 1.2rem;
      font-weight: 300;
      color: #999;
      line-height: 1.9rem;
      margin: 1rem 0;    
      padding: 0.4rem;
    }
    .read_more {
      font-family: $quicksand;
      font-size: 1.4rem;
      padding: 0.4rem;
      float: left;
      text-transform: lowercase;
      a {
        color: #333;
        &:hover {
          color: #999;
        }
      }    
    }
  }
}

.calendar {
  .custom_title {
    font-family: Open Sans, sans-serif;
      font-size: 1.2rem;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1.8rem;
      margin-bottom: 3rem;
  }
  
  background-color: #5a4a42;
  font-family: $quicksand;
  color: white;
  padding: 1.25rem 0px;
  a {
    color: white;
  }
  .entry {
    border-bottom: 1px dashed #666;
    padding: 1.25rem 0px;
    &.last {
      border-bottom: none;
    }
    .date {
      font-size: 2rem;
      text-transform: uppercase;
    }
    .name {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
  } 
}
  
.thin_strip {
  img {
    float: right;
  }
  padding: 15px 0px 10px 0px;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: $quicksand;
  font-weight: 500;
  text-transform: uppercase;
}

.full_page_or_post {
//  padding-bottom: 65px;
//  min-height: 100%;
//  background-size: cover;
//  padding-top: 50%;
  .custom_title {
    font-family: Open Sans, sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.563rem;
    margin-bottom: 13rem;
    float: left;
    padding: 8px;
  }
  .title {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 8px;
    margin-bottom: 1rem;
    font-family: $quicksand;
  }
  .blurb {
    font-family: Open Sans, sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    color: #999;
    line-height: 1.563rem;
    padding: 8px;
    margin-bottom: 1rem;
  }
  .read_more {
    font-family: $quicksand;
    font-size: 1.4rem;
        padding: 8px;
    text-transform: lowercase;
  }
}
.from_the_archive {
  width: 100%;
  min-height: 600px;
  background-repeat: no-repeat;
  .pink {
    overflow: hidden;
    opacity: 0.8;
    width: 50%;
    background-color: #eb008b;
    min-height: 600px;
    color: #FFF;
    font-family: $quicksand;
    .title {
      margin-top: 4rem;
      font-size: 2.375rem;
    }
    .activity_name {
      font-size: 2rem;
      margin: 0.5rem 0;
      a {
        color: #fff;
      }
    }
    .year {
      font-size: 10rem;
      margin: 1.563rem 0px;
      letter-spacing: -10px;
    }
    .description {
      margin: 1rem 0 3rem 0;
      font-size: 1.1rem;
      line-height: 1.4rem;
      font-weight: 300;

    }
  }
}

@media only screen and (max-width: 759px) {
  .from_the_archive {
    .pink {
      .year {
        font-size: 4.5rem;
      }
    }
  }
  
  .calendar {

    
    .entry {
      .date {
        font-size: 1.5rem;
      }
      .name {
        font-size: 1rem;
      }
    }
  }
  
  .two_posts {
    .read_more {
      margin-bottom: 3.5rem;
    }
  }
}



// tablets


@media only screen and (min-width: 760px) and (max-width: 959px) {
  .from_the_archive {
    .pink {
      .year {
        font-size: 8rem;
      }
    }
  }
  

}

// activities and archive indexes

.activities_index {
  a { color: #000; 
    .pixelversity {
      color: #FFF;
    }
  }
  section {
    padding: 90px 0px;
    font-family: $quicksand;
    font-size: 1.25em;
    text-align: center;
    
    &.pixelversity {
      background-color: #000;
      a { color:#FFF; }
      
    }
    &.festival {
      background-color: #f9ec31;
    }
    &.residencies {
      background-color: #f05a28;
    }
    .title {
      line-height: 1em;
      text-transform: uppercase;
      font-size: 5em;
      
    }

  }
}

form {
  label.label {
      background: none;
      color: #888;
      font-size: 1.2rem;
      abbr {
        display: none;
      }
      &.error {
      color: #f04124;
      }
    }
  
  li {
    list-style-type: none;
  }
}

#recaptcha_area input[type="text"] {
  display: inline-block;
  height: auto;
}

#recaptcha_area { 
  margin: 1.25rem 0px;
}

#local_signin_form {
  display: none;
}