@import 'variables';

.three_posts {
  background-color: #FFF;
}
.three_posts, .two_posts {
  padding-bottom: 60px;
  padding-top: 50px;
  .custom_title {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 95px; 
  }
  
  .top_post {
    margin-bottom: 75px;
    

  
    .title {
      font-family: $quicksand;
      font-size: 58px;
      line-height: 72px;
      margin-bottom: 60px;
    }
    .body {
      font-family: Open Sans, sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #999;
      line-height: 25px;
      margin-bottom: 30px;
    }
    .read_more {
      font-family: $quicksand;
      font-size: 32px;
      text-transform: lowercase;
      a {
        color: #000;
      }
    }
  }

  .smaller_posts {

    .title {
      font-family: $quicksand;
      font-size: 28px;
      line-height: 36px;
      margin-bottom:15px;
    }
    .body {
      font-family: Open Sans, sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #999;
      line-height: 25px;
      margin-bottom: 20px;    
    }
    .read_more {
      font-family: $quicksand;
      font-size: 32px;
      text-transform: lowercase;
      a {
        color: #333;
      }    
    }
  }
}

.calendar {
  background-color: #5a4a42;
  font-family: $quicksand;
  color: white;
  padding: 20px 0px;
  
  .entry {
    border-bottom: 1px dashed #666;
    padding: 20px 0px;
    .date {
      font-size: 32px;
      text-transform: uppercase;
    }
    .name {
      font-size: 28px;
      line-height: 32px;
    }
  } 
}
  
.thin_strip {
  img {
    float: right;
  }
  padding: 15px 0px 10px 0px;
  font-size: 28px;
  font-family: $quicksand;
  font-weight: 500;
  text-transform: uppercase;
}

.full_page_or_post {
  padding-bottom: 65px;
  min-height: 100%;
  background-size: cover;
  padding-top: 50%;
  .custom_title {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 240px; 
  }
  .title {
    font-size: 58px;
    line-height: 72px;
    font-family: $quicksand;
  }
  .blurb {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #999;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .read_more {
    font-family: $quicksand;
    font-size: 32px;
    text-transform: lowercase;
  }
}
.from_the_archive {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  .pink {
    opacity: 0.8;
    width: 50%;
    background-color: #eb008b;
    height: 600px;
    color: #FFF;
    font-family: $quicksand;
    .title {
      margin-top: 110px;
      font-size: 38px;
    }
    .year {
      font-size: 178px;
      margin: 25px 0px;
    }
    .description {
      font-size: 20px;
      font-weight: 300;
    }
  }
}


// activities and archive indexes

.activities_index {
  a { color: #000; 
    .pixelversity {
      color: #FFF;
    }
  }
  section {
    padding: 90px 0px;
    font-family: $quicksand;
    font-size: 1.25em;
    text-align: center;
    
    &.pixelversity {
      background-color: #000;
      a { color:#FFF; }
      
    }
    &.festival {
      background-color: #f9ec31;
    }
    &.residencies {
      background-color: #f05a28;
    }
    .title {
      line-height: 1em;
      text-transform: uppercase;
      font-size: 5em;
      
    }

  }
}