@import 'variables';
@import 'foundation_overrides';

.three_posts {
  background-color: #FFF;
}
.three_posts, .two_posts {
  padding-bottom: 60px;
  padding-top: 50px;
  .custom_title {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 95px; 
  }
  
  .top_post {
    margin-bottom: 75px;
    

  
    .title {
      font-family: $quicksand;
      font-size: 58px;
      line-height: 72px;
      padding-bottom: 20px;
      border-bottom: 1px solid #333;
      a {
        color: black;
        &:hover {
          color: black;
        }
      }
    }
    .metadata {
      font-family: "Quicksand", sans-serif;
      font-size: 1.5em;
      border-bottom: 1px solid #333;
      margin-left: 0px;
      padding: 10px 0px;
      color: #333;
      p.place_address {
        margin-bottom: 0px;
        font-size: 0.9rem;
        a {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: bold;
          padding-left: 1em;
        }
      }
    }
    .body {
      font-family: Open Sans, sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #999;
      line-height: 25px;
      margin: 30px 0px;
    }
    .read_more {
      font-family: $quicksand;
      font-size: 32px;
      text-transform: lowercase;
      a {
        color: #000;
      }
    }
  }

  .smaller_posts {

    .title {
      font-family: $quicksand;
      font-size: 1.75rem;
      line-height: 2.25rem;
      padding-bottom:15px;
      border-bottom: 1px solid #333;
      a {
        color: black;
      }
    }
    .metadata {
      font-family: "Quicksand", sans-serif;
      font-size: 1.25em;
      color: #333;
      border-bottom: 1px solid #333;
      margin-left: 0px;
      padding: 10px 0px;
      p.place_address {
        margin-bottom: 0px;
        font-size: 0.9rem;
        a {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: bold;
          padding-left: 1em;
        }
      }
    }
    .body {
      font-family: Open Sans, sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #999;
      line-height: 25px;
      margin-bottom: 20px;    
    }
    .read_more {
      font-family: $quicksand;
      font-size: 32px;
      text-transform: lowercase;
      a {
        color: #333;
      }    
    }
  }
}

.calendar {
  background-color: #5a4a42;
  font-family: $quicksand;
  color: white;
  padding: 20px 0px;
  a {
    color: white;
  }
  .entry {
    border-bottom: 1px dashed #666;
    padding: 20px 0px;
    .date {
      font-size: 32px;
      text-transform: uppercase;
    }
    .name {
      font-size: 28px;
      line-height: 32px;
    }
  } 
}
  
.thin_strip {
  img {
    float: right;
  }
  padding: 15px 0px 10px 0px;
  font-size: 28px;
  font-family: $quicksand;
  font-weight: 500;
  text-transform: uppercase;
}

.full_page_or_post {
  padding-bottom: 65px;
  min-height: 100%;
  background-size: cover;
  padding-top: 50%;
  .custom_title {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 240px; 
  }
  .title {
    font-size: 58px;
    line-height: 72px;
    font-family: $quicksand;
  }
  .blurb {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #999;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .read_more {
    font-family: $quicksand;
    font-size: 32px;
    text-transform: lowercase;
  }
}
.from_the_archive {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  .pink {
    overflow: hidden;
    opacity: 0.8;
    width: 50%;
    background-color: #eb008b;
    height: 600px;
    color: #FFF;
    font-family: $quicksand;
    .title {
      margin-top: 110px;
      font-size: 2.375rem;
    }
    .activity_name {
      font-size: 2rem;
    }
    .year {
      font-size: 10rem;
      margin: 25px 0px;
      letter-spacing: -10px;
    }
    .description {
      margin-top: 15px;
      font-size: 1.2rem;
      font-weight: 300;

    }
  }
}

@media only screen and (max-width: 759px) {
  .from_the_archive {
    .pink {
      .year {
        font-size: 4.5rem;
      }
    }
  }
}

@media only screen and (min-width: 760px) and (max-width: 959px) {
  .from_the_archive {
    .pink {
      .year {
        font-size: 8rem;
      }
    }
  }
}

// activities and archive indexes

.activities_index {
  a { color: #000; 
    .pixelversity {
      color: #FFF;
    }
  }
  section {
    padding: 90px 0px;
    font-family: $quicksand;
    font-size: 1.25em;
    text-align: center;
    
    &.pixelversity {
      background-color: #000;
      a { color:#FFF; }
      
    }
    &.festival {
      background-color: #f9ec31;
    }
    &.residencies {
      background-color: #f05a28;
    }
    .title {
      line-height: 1em;
      text-transform: uppercase;
      font-size: 5em;
      
    }

  }
}

form {
  label.label {
      background: none;
      color: #888;
      font-size: 1.2rem;
      abbr {
        display: none;
      }
      &.error {
      color: #f04124;
      }
    }
  
  li {
    list-style-type: none;
  }
}

#recaptcha_area input[type="text"] {
  display: inline-block;
  height: auto;
}

#recaptcha_area { 
  margin: 20px 0px;
}

#local_signin_form {
  display: none;
}