
.top-bar-wrapper {
  height: 40px;
}

nav.top-bar {
  
  form {
    input#search_term {
      top: 4px;
    }
  }
  
  .lang {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    padding: 10px 1.4rem;
    max-height: 40px;
    span.divider {
      color: #666;
    }
  }
  li.tagline {

    a {
      font-family: Open Sans;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.1rem;
      color: #929497 !important;
    }
  }

  ul.right {

    li {
      font-family: Open Sans;
      font-weight: 800;
      font-size: 16px;
      a {
        text-transform: uppercase;
        color: #fff100;
        background: #000 !important;
      }
      &.active {
        background: none;
      }
    }
  }
  
}

.contain-to-grid.admin {
  background-color: #3fc7ff;
}
.devise_new_session {
  padding: 25px 0px;
  p {
    a {
      color: black;
    }
  }
  .option {
    padding: 10px;
  }
}
nav.top-bar.admin {
  background-color: #3fc7ff;
  height: 35px;
  
  .name {
    height: 35px;
    margin-left: 13px;
    font-size: 14px;
    h1 {
      line-height: 35px;
    }
  }
  .top-bar-section {
    li, a {
      background-color: #3fc7ff;
      height: 35px;
    }
  }
  input#searchterm {
    margin-top: -5px;

  }
}



table.etherpads {
  ul {
    li {
      list-style-type: none;
      font-size: 0.9rem;
    }
  }
}


