nav.top-bar {
  
  li.tagline {
    font-family: Open Sans;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    a {
      color: #929497 !important;
    }
  }

  ul.right {
    li {
      font-family: Open Sans;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 16px;
      a {
        color: #fff100;
      }
    }
  }
  
}

.contain-to-grid.admin {
  background-color: #3fc7ff;
}
nav.top-bar.admin {
  background-color: #3fc7ff;
  height: 35px;
  
  .name {
    height: 35px;
    margin-left: 13px;
    font-size: 14px;
    h1 {
      line-height: 35px;
    }
  }
  .top-bar-section {
    li, a {
      background-color: #3fc7ff;
      height: 35px;
    }
  }
  input#searchterm {
    margin-top: -5px;
  }
}



table.etherpads {
  ul {
    li {
      list-style-type: none;
      font-size: 0.9rem;
    }
  }
}


