@import 'variables';


.membership_container {
  padding: 3rem 2rem;


  .member_sidebar {
    ul.accordion {
      margin: 0;
      padding: 0;
      li {
        a {
          &.accordion-title {
            color: #FFF;
            &::before {
              content: '';
            }
          }
        }
        .arrow {

          position: relative;
        	width: 0; 
        	height: 0; 
        	border-left: 14px solid transparent;
        	border-right: 14px solid transparent;
        	cursor: pointer;
        	right: 20px;
          z-index: 15;
          float: right;
        }
        &#personal_li {
          a.accordion-title { background-color: #f9d131;  }
          .arrow {
            border-top: 14px solid #f9d131; 
          }
        }
        &#feed_li {
          a.accordion-title { background-color: #fe7d27; }
          .arrow {
            border-top: 14px solid #fe7d27; 
          }
          #feed {
            padding-top: 0;
            padding-bottom: 0;
            .feed_container {
              padding-top: 0.3rem;
              background-color: #EEE;
              margin-bottom: 0.2rem;
              font-size: 0.8rem;
              strong {
                float: left;
              }
              span.twitter_name a {
                padding-left: 0.4rem;
                font-size: 0.8rem;
                color: #AAA;
              }
              p  {
                font-size: 0.7rem;
                line-height: 1rem;
                color: #333;
                margin: 0.4rem 0;
                a  {
                  color: $newblue;
                  font-size: 0.7rem;
                  line-height: 1rem;
                }
              }
            }
            
          }
        }
        &#contact_li {
          a.accordion-title { background-color: #3dbedc; }
          .arrow {
            border-top: 14px solid #3dbedc; 
          }
        }
        .content, .content a {
          background: none !important;
          font-size: 0.9rem;
          color: #333;
        }
      }
    }
  }
  h2 {
    font-weight: 300;
    span.twitter {
      font-size: 0.5em;
      padding-left: 1rem;
      a { 
        color: #666;
      }
    }
  }
  
  p.metadata {
    font-size: 0.9rem;
    color: #666;
    margin: 0.5rem 0;
  }
  .twitter_link {
    margin: 1.5rem 0;
    font-size: 1.1rem;
    
  }
  
  .bio, .bio p {
    color: #333;
    margin: 2rem 0px;
    font-size: 0.9rem;
    line-height: 1.45rem;
    margin: 0 0 1rem 0;
  }
  .bio {
    margin-bottom: 2.5rem;
  }
  
  .member_post {
    margin: 2rem 0;
    border-bottom: 1px solid #333;
    padding-bottom: 1.2rem;
    .title {
      font-family: $quicksand;
      font-size: 1.3rem;
      color: #333;
      line-height : 1.8rem;
      a {
        color: #333;
        &:hover{ 
          color: #999;
        }
      }
    }
    .date {
      font-size: 0.8rem;
      color: #999;
      margin-bottom: 1rem;
    }
    .excerpt, .excerpt p {
      font-size: 0.9rem;
      color: #333;
      line-height: 1.4rem;
    }
    .read_more {
      margin: 0.8rem 0;
      text-transform: lowercase;
      a {
        font-family: $quicksand;
        color: #333;
        font-size: 1.2rem;
        margin: 0.4rem 0;
        &:hover {
          color: #999;
        }
        
      }
    }
    
  }
  .board_explanation {
    border-top: 1px solid #333;
    padding: 1.15rem 0;
    font-size: 0.9rem;
    border-bottom: 1px solid #333;  
    margin-bottom: 2rem;  
  }
  .member_row {
    margin-bottom: 2rem;

    .member_square {
      margin-bottom: 2rem;
      background-size: cover;
      padding-bottom: 100%;
      height: 0;
      max-height: 400px;
      overflow: hidden;
      cursor: pointer;
      .inner {

        background: none;
        opacity: 1;
        padding-bottom: 100%;
        height: 0;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;

        &:hover { 
         opacity: 0.75; 
        }        
        .name {
          margin: 0;
          padding: 0.6rem;
          font-family: $quicksand;
          font-size: 1.2rem;
          background-color: black;
          color: #FFF;
          a {
            color: #FFF;
            &:hover {
              color: #666;
            }
          }
        }

        .membership_years {
          color: #fFF;
          background-color: black;
          margin: 0; padding: 0.6rem;
          font-family: $quicksand;
          font-size: 0.8rem;
          bottom: 0;
          position: absolute;
          width: 100%;
          display: none;
          .on_board {
            text-transform: uppercase;
            color: #666;
            margin: 0.5rem;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

#feed_table {
  .row {
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px dotted #999;
    padding: 0.5rem;
    
    .member_name {
      margin-top: 0.4rem;
      a {
        color: #333;
        font-family: $quicksand;
        font-size: 0.8rem;
      }
    }

    .content {
      p {
        color: #333;
        font-size:0.9rem;
        margin: 0; padding: 0;
      }
      color: #333;
      font-size: 1rem;
      .metadata {
        margin-top: 2rem;
        font-size: 0.8rem;
      }
      .when {
        font-size: 0.75rem;
        color: #999;
        margin: 0.8rem 0 1.5rem 0;
      }
    }
  }
}