@media only screen and (max-width: 40em)  { 
  
  
  .three_posts .top_post , .two_posts .top_post  {
    .title {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    .metadata {
      font-size: 1rem;
      line-height: 1.5rem;
      p.place_address a {
        padding-left: 0;
      }
    }
    .read_more {
      font-size: 1.5rem;
    }
  }


  .three_posts .smaller_posts {
    .metadata {
      margin-bottom: 0.5rem;
      p.place_address a {
        padding-left: 0;
      }
    }
    .read_more {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }
    
  .thin_strip {
    .read_more {
      padding-top: 0.8rem;
    }
  }

  .from_the_archive {
    .pink {
      width: 100%;
      .title {
        margin-top: 2rem;
      }
      .year {
        letter-spacing: initial;
      }
    }
  }
  
  .full_page_or_post  {
    .custom_title {
      margin-bottom: 2.5rem;
    }
    .title {
      margin-bottom: 1rem;
    }
    .blurb {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
  
  .event_single {
    padding: 0;
    .internal {
      padding-top: 0px;
    }
    
    .event_image {
      margin: 20px 0px;
    }
    .title {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    .metadata {
      font-size: 1.3rem;
      line-height: 1.8rem;
      p.place_address {
        clear: left;
        a {
          padding-left: 0px;
        }
      }
    }
    h1 {
      font-size: 2rem;
    }
    .related_title {
      margin-top: 3rem;
    }
  }
  
  .page_tree {
    height: 80px;
    max-height: 80px;
    line-height: 1.2rem;
  }
  
  
  .pixelache_nav_menu {
    

    ul {
      &.navhide {
        border-bottom: 1px solid #999;
        margin-bottom: 0.3rem;

      }
      li {
        
        float: left;
        padding: 0.3rem 0.4rem 0rem 0.4rem;
        border-right: 1px dotted #999;
      }
    }
  }
  
  footer {
    .footer_menu {
      padding-top: 0.8rem;
    }
  }
  
}