/*
 *= require_self
*/


// mobiles

@media only screen and (max-width: 40em)  { 
  .is-drilldown {
    min-height: 0 !important;
  }
  #main {
    margin-top: 1rem;
    padding: 0 0.5rem;
  }
  .page_tree {
    &.sub {
      height: 2.25rem;
      padding: 5px;
    }
  }
  .project_tree {
    top: initial;
    ul {
      display: none;
    }
    &.sub {
      height: auto;
      margin: 1.5rem 0 !important;
      padding: 5px;
      select {
        padding: 5px;
        height: 1.8rem;
        background-position: right 0rem center;
        font-size: 0.75rem;
        option {
          font-size: 1.2rem;
        }
      }
      li a {
        font-size: 0.5rem;
        padding: 0.5rem;

      }
    }
  }

  .page {
    padding-top: 0.5rem;
    .title_wrapper {
      padding: 0;
    }
    a.slick-arrow {
      display: none;
    }
  }

  .top-bar-wrapper {
    nav.top-bar {
      ul.title-area {
        li.name {
          width: 150px;
          float: left;
        }
        li.menu_link {
          margin-top: 8px;
          float: right;
          height: 40px;
          a {
            height: 40px;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase;
            padding: 15px;
          }
        }
      }
    }
  }
  
  form label.label {
    white-space: normal;
    text-align: left;
    line-height: 1.2rem;
  }
  //   pages
  .page {
    .page_banner {
      margin-bottom: 1rem;
    }
    .title {
      font-size: 1.6rem;
      line-height: 2.15rem;
    }
  }
  //   front modules
  .thin_strip {
    font-size: 1rem;
    line-height: 1.7rem;
  }
  .related_container {
    .releated_title {
      h1 {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }
  //   residencies
  
  .residency_container {
    .title {
      font-size: 1.9rem;
    }
    .related_title {
      .row {
        &.related {
          border-bottom: 1px dotted #999;
          
          .body {
            padding-bottom: 0;
          }
        }
      }
    }
  }
  
  .event_single, .post_single {
    .related {
      img {
        margin-bottom: 0.8rem;
      }
    }
    .title {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  .three_posts .top_post , .two_posts .top_post  {
    .title {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    .metadata {
      font-size: 1rem;
      line-height: 1.5rem;
      p.place_address a {
        padding-left: 0;
      }
    }
    .read_more {
      font-size: 1.5rem;
    }
  }

  .multipost_selected {
    .top_post {
      .title {
        font-size: 1.7rem;
        line-height: 1.9rem;
      }
      .metadata {
        font-size: 0.9rem;
      }
      .body, .body p {
        font-size: 0.8rem;
      }
      .read_more {
        font-size: 1rem;
      }
    }
  }
  
  .three_posts .smaller_posts {
    .metadata {
      margin-bottom: 0.5rem;
      p.place_address a {
        padding-left: 0;
      }
    }
    .read_more {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }
    
  .thin_strip {
    .read_more {
      padding-top: 0.8rem;
    }
  }

  .from_the_archive {
    .pink {
      width: 100%;
      .title {
        margin-top: 2rem;
      }
      .year {
        letter-spacing: initial;
      }
    }
  }
  
  .full_page_or_post  {
    .custom_title {
      margin-bottom: 2.5rem;
    }
    .title {
      margin-bottom: 1rem;
    }
    .blurb {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
  
  .event_small {
    margin-bottom: 2rem;
    .hashtag {
      font-size: 0.8rem;
    }
  }
  
  .event_single {
    padding-top: 2rem;
    .internal {
      padding-top: 0px;
    }
    
    .event_image {
      margin: 20px 0px;
    }
    .title {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    .metadata {
      font-size: 1.3rem;
      line-height: 1.8rem;
      p.place_address {
        clear: left;
        a {
          padding-left: 0px;
        }
      }
    }
    h1 {
      font-size: 2rem;
    }
    .related_title {
      margin-top: 3rem;
    }
  }
  

  .page_tree {
    height: initial;
    // max-height: 80px;
    line-height: 1.2rem;
    padding-left: 36px;

  }
  
  //   smaller calendar font on frontpage
  .calendar {
    .entry {
      .name {
        font-size: 1.3rem;
        line-height: 1.6rem
        ;
      }
    }
  }
  
  
  .pixelache_nav_menu {
    .festival_top_header {
      .fest_header_wrapper {
        float: left;
      }
      .menu_reset {

        display: none;
      }
    }
    &.festival_menu ul {
      border-right: none;
      &.first {
        &.open {
          margin-bottom: 0.4rem;
          border-right: none;
          li {

            padding: 0.2rem 0.5rem;
            border-right: 1px dotted #fff;
          }
        }
        &.rolled {
          
        }
        border-right-width: 1px;
        border-right-style: solid;

        li {
          margin-right: initial;
          border-right: none;
          
        }
      }
      li {
        
        padding: 0.1rem 0.5rem;
        border-right: 1px dotted #fff;
      }
    }
    

    ul {
      border-right: 1px dotted #999;
      float: left;
      &.navhide {
        //border-bottom: 1px solid #999;
        margin-bottom: 0.3rem;

      }
      &.first {
        li {
          float: none;
        }
      }
      li {
        
        float: left;
        padding: 0.3rem 0.4rem 0rem 0.4rem;
        
      }
    }
  }

  footer {
    .footer_menu {
      padding-top: 0.8rem;
    }
  }
  
  //  projects index page
  .project_index {
    .strip {
      .image_box {
        left: 0%;
        width: 100%;
        .titles {
          h2 {
            float: left;
            padding: 5px;
          }
          .subtitle {
            clear: left;
            float: left;
            padding: 5px;
          }
        }
      }
      
      .selector {
        display: none;
      }
    }      
  }
  
  .post_slider_container {
    .post_slider {
      .post {
        .post_image {
          max-height: 220px;
        }
      }
    }
  }
  .outer {
    padding-bottom: 0;
  }
  
  .posts_index_container {
    .post_small {
      margin-bottom: 3rem;
    }
    
  }
  
  .posts.show {
    .post_single {
      .categories {
        font-size: 1rem;
      }
      .title {
        font-size: 2rem;
        line-height: 2.6rem;
      }
      .metadata {
        font-size: 1rem;
      }
    }
  }
  
  .yearly_archive {
    padding: 0;
    .archive_nav {
      padding: 0;
      margin: 0;
    }
  }
  
  .residency_container {
    .magellan-scrollnav [data-magellan-expedition] dl {
      background: inherit;
    }
    [data-magellan-expedition] {
      position: initial !important;
    }
  }
  
  .magellan-scrollnav {
    [data-magellan-expedition-clone] {
      dl.sub-nav {
        display: none;
      }
    }
    [data-magellan-expedition], [data-magellan-expedition-clone] {
      width: 100% !important;
      top: 70px !important;
      left: 0px !important;
      min-width: 0;
      background: none;
      dl {
        background-color: whitesmoke;
        dd {
          display:inline;
          float: none;
          border-bottom: none;
          padding: 0;
          background-color: none;
          a {
            color: black;
          }
        }
      }
    }
  }
}




// tablets
@media only screen and (min-width: 40.063em) and (max-width:  59em) {
  .project_tree {
      &.sub {
        height: auto;
        margin: 5.7rem 0 2rem 0 !important;
        padding: 0.75rem;

        li a {
          font-size: 1rem;
          padding: 0.5rem;
        }
      }
    }
  nav.top-bar li.tagline a {
    font-size: 0.8rem;
  }
  nav.top-bar .lang {
    font-size: 0.75rem;
  }
  
  .from_the_archive {
    .pink {
     
      .title {
        font-size: 1.3rem;
        margin-top: 2rem;
      }
      .year {
        letter-spacing: initial;
      }
    }
  }
  .project_index {
    .strip {
      .title_box {
        .titles {
          padding-top: 15%;
      
          h2 {  
            font-size: 1.8rem;
            line-height: 2.1rem;
          }
        }
      }
      
    }
  }
  
  .post_slider_container {
    .post_slider {
      .post {
        .post_image {
          max-height: 280px;
        }
      }
    }
  }
}