@import 'variables';


.posts_index_container {
  padding-top: 2rem;
  h2 {
    margin-bottom: 2rem;
  }
}
.post_row {
  margin-top: 2rem;
  margin-bottom: 4rem !important;
  .end {
    float: left !important;
  }
}

.post, .top_post {
  .google_map {
    display: none;
    width: 100%;
    height: 12rem;
  }
  .metadata {
    margin-bottom: 0.5rem;
    p.map_link {
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}
.post_small {
  .title {
    font-family: $quicksand;
    a { color: #333; }
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-bottom: 15px;

    padding-left: 0px;
  }
  .metadata {
    color: #1b75bb;
    font-family: $quicksand;
    font-size: 0.875rem;
    line-height: 0.875rem; 
//    border-bottom: 2px solid #999;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
    p.map_link {
      margin-bottom: 0;
    }
    span.date {
      font-weight: bold;
    } 
  }
  .related {
    margin-top: 15px;
    font-family: $quicksand;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
    a { color: #666;
       border-right: 1px solid #333;
       padding-right: 10px;
       &.last {
         border-right: none;
         text-transform: none;
       }
     }
  }  
  
}

.post_single {
  margin-right: auto;
  margin-left: auto;

  
  h1 {
    font-family: $quicksand;
    font-size: 2.8rem;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .internal {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
  }
  
  .post_image {
    margin: 75px 0px 40px 0px;

  }
  
  .related_title {
    margin-top: 70px;
    h1 {
      margin-bottom: 0px;
    }
  }
  
  .metadata {
    color: #1b75bb;
    font-family: $quicksand;
    font-size: 14px;
    line-height: 25px; 
    border-bottom: 2px solid #999;
    margin-bottom: 30px;
    margin-left: 0px;
    padding-left: 0px;
    span.date {
      font-weight: bold;
    } 
  }
  
  .title {
    font-family: $quicksand;
    color: #333;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-left: 0px;
  }
  
  .body {
    font-size: 14px;
    line-height: 26px;
    color: #666;
    img {
      display: block;
      padding: 25px;
      margin: 0px auto;
    }
    p {
      margin: 0px 0px 30px 0px;
      color: #666;
    }
  }
  
  .related {
    border-bottom: 1px solid #333;
    padding-top: 20px;
    
    &.post {
      padding-top: 35px;
    }
    .title {
      font-family: $quicksand;
      a {
        color: #333;
      }
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
      padding-left: 0px;
    }
    .body {
      font-family: Open Sans, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 26px;
      color: #333;
      img {
        display: block;
        padding: 25px;
        margin: 0px auto;
      }
      p {
        margin: 0px 0px 10px 0px;
      }
    }
    .related_metadata {
      color: #1b75bb;
      font-family: $quicksand;
      font-size: 14px;
      line-height: 25px; 
      margin-bottom: 10px;
      margin-left: 0px;
      padding-left: 0px;
      span.date {
        font-weight: bold;
      } 
    }
    .read_more {
      margin: 25px 0px;
      text-transform: lowercase;
      a {
        color: #f05a28;
        font-family: $quicksand;
        font-weight: bold;
        font-size: 14px;
      }
    
    }
  }
}