@import 'variables';


.outer {
  padding: 1.5rem 0rem 3rem 0rem;
}
ul.events {
  font-size: 11px;
  font-weight: 300;
  color: #666;
}

button.slick-next, button.slick-prev {
  background-color: black;
  color: white;
}
// jstree fixes
#projects_tree a {
    white-space: normal !important;
    height: auto;
    padding: 1px 2px;

}

.project_index {
  padding-top: 1rem;
  .dividing_strip {
    &.top {
      margin-top: 10px;
    }
    background-color: #49a2fc;
    padding: 15px 0px 10px 0px;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFF;
  }
  .children_strip {
    
    padding: 10px 0px 10px 0px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    bottom: 2px;
    right: 10px;

    &.closed:after {
      content: " \25BA ";
    }
    &:after {
      content: " \25BC ";
    }
  }
  .active_strip {
    padding: 8px 0px;
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    .heading { text-transform: uppercase; }
    
  }
  .end_strip {
    padding: 6px 0px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    text-transform: uppercase;

  }
  
  .subprojects {
    display: none;
    .strip {
      .title_box {
        .titles {
          h2 {
            a {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }   
  .strip {
    overflow: hidden;
    cursor: pointer;
    max-height: 670px;
    
    .selector {
      
      width: 3%;
      padding-bottom: 31%;
      height: 0;
      z-index : 80;
    }

    .image_overlay {
      height: 0;
      padding-bottom: 45.8%;
      width: 100%;

      
      .occluded {
        display: none;
        position: absolute;
        left: 10%;
        top: 15%;
        
        li {
          font-family: $quicksand;
          &.subproject {
            font-size: 1.4rem;
          }
          &.event, &.post {
            font-size: 1.1rem;
          }
          &.page {
            font-size: 1.2rem;
          }
          
          color: inherit;
          a { color: inherit; }
          list-style-type: none;
        }
      }
    }
    .title_box {
      padding-bottom: 31%;
      height: 0;
      width: 31%;
      
      .titles {
        padding-top: 30%;


        h2 {
          color: inherit;
          a { color: inherit; }
          line-height: 2.5rem;
        }
        .subtitle {
          color: inherit;
        }
        .evolved {
          font-size: 0.7rem;
          text-align: right;
          margin-top: 1rem;
        }
      }   


      position: relative;
    }
    
    .image_box {
      position: relative;
      left: 33%;
      background-size: contain;
      padding-bottom: 31%;
      height: 0;
      max-height: 670px;
      width: 67.66666666667%;
    }
  }
  
  .projects_list {
    margin-bottom: 2rem;
    a {
      border-right: 1px dotted #333;
      padding: 0rem 0.6rem;
      line-height: 1.7rem;
      &.last {
        border-right: none;
      }
    }
  }
  .project {
    padding: 1.5rem 0rem;
    border-bottom: 1px dotted #666;
    .title {
      font-size: 1.8rem;
      a {
        color: #333;
      }
    }
    .read_more {
      font-family: $quicksand;
      font-size: 1.4rem;
      text-transform: lowercase; 
      a {
        color: #333;
      }
    }
  }
}
.white {
  background-color: white;
  padding: 40px;
  .posts {
    margin-top: 40px;
  }
  
  .children {
    margin-bottom: 40px;
    .child {
      &:hover {
        background-color: #000;
        color: #f9ec31;
        a {
          color: #f9ec31;
        }
      }
      a {
        font-family: $quicksand;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.125em;
        color: #000;
      }
      padding: 20px 0px;
      border-bottom: 1px solid #000;      
    }
  }
}
.events_carousel {
  .event {
    height: 400px;
    padding: 5px;
    a {
      .title {
        width: 65%;
        color: black;
        background-color: white;
        font-size: 2rem;
        opacity: 0.75;
        float: right;
        margin-right: 25px;
        padding: 8px;
      }
  
      .when {
        margin: 200px 0px 0px 25px;
        background-color: white;
        font-size: 1.1rem;
        float: left;
        padding: 8px;
        opacity: 0.75;
      }
    }
  }
}
.project_detail {
  padding-top: 3.5rem;
  .project_title {
    font-size: 2.875rem;
    background-color: white;
    opacity: 0.9;
    font-family: $quicksand;
    font-weight: 400;
    padding: 1rem 0px;
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
  }
  

  .title-wrapper {
    width: 100%;

  }
  
  .description {
    margin-top: 1rem;
    font-family: $opensans;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .share_this {
    border-top: 1px solid #333;
    padding-top: 0.5rem;
  }
  
  .events_wrapper {
    margin: 3rem 0px;
    border-bottom: 1px solid #333;
    .wrapper_title {
      font-family: $quicksand;
      font-weight: 300;
      font-size: 3rem;
      line-height: 3.6rem;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 1.5rem;
    }
    .events_small {
      .yellow {
        .hashtag {
          display: none;
        }
      }
    }
  }
  .activities_wrapper {
    padding: 1rem 0px;
    .wrapper_title {
      font-family: $quicksand;
      font-weight: 300;
      font-size: 3rem;
      line-height: 3.6rem;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 1.5rem;
    }
  }
  
}


.whatever {
    .event {
    padding: 20px 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid #999;
    
    .metadata {
      font-family: $quicksand;
      font-size: 0.9rem;
      margin-left: 0px;
      padding: 10px 0px;
      span.date {
        font-weight: bold;
      } 
      a {
        color: red;
      }
    }
  
    .title {
      font-family: $quicksand;
      a { color: #333; }
      font-size: 1.5rem;
      line-height: 1.8rem;
      
      padding-left: 0px;
    }
  
    .related {
      margin-top: 15px;
      font-family: $quicksand;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1rem;

      a { color: #666;
         border-right: 1px solid #333;
         padding-right: 10px;
         &.last {
           border-right: none;
           text-transform: none;
         }
       }
    }     
    
  }
  .activity_bar {
    .activity_small {
      padding: 20px;

    
      .title {
        font-family: $quicksand;
        a { color: #333; }
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin-bottom: 5px;
        padding-left: 0px;
      }
      .metadata {
        color: #1b75bb;
        font-family: $quicksand;
        font-size: 0.875rem;
        line-height: 0.875rem; 
        margin-bottom: 10px;
        margin-left: 0px;
        padding-left: 0px;
        p.place_address {
          margin-bottom: 0px;
          font-size: 0.9rem;
          a {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: bold;
            padding-left: 1em;
          }
        }
        span.date {
          font-weight: bold;
        } 
       }
      .body {
        margin-top: 10px;
        color: #666;
        font-size: 0.85rem;
        line-height: 1.2rem;
        p {
          margin-bottom: 0px;
          color: #666;
          font-size: 0.85rem;
          line-height: 1.2rem;
        }
      }
    }
    .related {
      margin-top: 5px;
      font-family: $quicksand;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1rem;

      a { 
        color: #666;
        border-right: 1px solid #333;
        padding-right: 10px;
        &.last {
          border-right: none;
          text-transform: none;
        }
      }
    }  
  }
}
