@import 'variables';

.residency_container {
  background-color: #f9ec31;
  padding-bottom: 3rem;
  .title {
    font-family: $quicksand;
    font-size: 3rem;
    padding: 80px 0px 0px 0px;
    border-bottom: 1px solid #000;
    .country {
      clear: left;
      font-size: 1.2rem;
      color: #666;
      margin: 0.6rem 0;
    }
  }
  
  .body {
    font-size: 0.975em;
    line-height: 1.5em;
    padding: 25px 0px 50px 0px;
    p {
      font-size: 0.975em;
      line-height: 1.5em;
      margin-bottom: 15px;
    }
  }
  .related_title {
    h1 {
      text-transform: uppercase;
    }
  }
  .related {
    margin-top: 15px;
    font-family: $quicksand;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
    .related_title {
      font-size: 1.2rem;
    }
    a { color: #666;

       &.last {
         border-right: none;
         text-transform: none;
       }
     }
  }  
  
  .children {
    background-color: #f9ec31;
    .child, .accordion dd {
      
      background-color: #f9ec31;
     .subchild {
       background-color: #f9ec31;
        a {
          font-family: $quicksand;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 0.925em;
          color: #000;
        }
        padding: 10px 0px;
        border-bottom: 1px solid #000;
        &.last {
          border-bottom: none;
          padding-bottom: 0px;
        }
        p.metadata {
          font-family: $quicksand;
          color: #666;
          font-size: 0.8rem;
          margin-bottom: 0.3rem;
        }
      }
      a {
        background: none;
        font-family: $quicksand;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.125em;
        color: #000;
        padding: 0;
        &.float {
          float: left;
        }
      }
      padding: 0.8rem 0rem 0.5rem 0rem !important;
      border-bottom: 1px solid #000;
    }
  }

}

.accordion .accordion-navigation {
  .accordion_title {
    a {
      font-weight: 500 !important;
    }
  }
}
.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
  background-color: #f9ec31;
}