@import 'variables';

.search_results_container {
  background-color: none;
  
  .magellan-scrollnav [data-magellan-expedition] dd {
    border-bottom: 1px solid #333;
  }
  
  .sub-nav {
    dd.active {

      background-color: $newblue;
      a {
        color: #333;
        background: none;
        &:hover, &:focus {
          background: #BBB;
        }
      }
    }
    
    dd {
      a {
        color: #333;
      }
    }
  }
  
  .section_title  {
    font-size: 1.625rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    margin-bottom: 0.5rem;
    margin-top: 2.75rem;
    font-family: $quicksand;
    color: #333;
    a {
      color: #333;
      &:hover {
        color: $newblue;
      }
    }
  }
  .events, .project_list, .document_list, .residency_list, .video_list {
    .row {
      .title_container {
        .name {
          a {
            color: #333;
            &:hover {
              color: $newblue;
            }
          }
        }
      }
    }
  }
  .residencies {
    .archive_image_box {
      .blue {
        .date {
          margin: 15px;
        }
      }
    }
  }
  
  .archive_image_box {
    .blue {
      .date {
        margin: 31px 15px;

      }
    }
  }
}