@import 'variables';
.no-js {
  .archive_nav {
    width: 100%;
  }
  
}
.search_results_container {
  
  h2 {
    color: #333;
  }
  background-color: none;
  
  .magellan-scrollnav [data-magellan] li {
    border-bottom: 1px solid #333;
    a {
      color: #333;
    }
  }
  
  .sub-nav {
    li.active {

      background-color: $newblue;
      a {
        color: #333;
        background: none;
        &:hover, &:focus {
          background: #BBB;
        }
      }
    }
    
    li {
      a {
        color: #333;
      }
    }
  }
  
  #posts {
    a.hit {
      margin-bottom: 1.5rem;
      .post {
        float: left;
        width: 100%;
        .search_results_post_info {
          .title {
            color: #333;
            font-family: $quicksand;
          }
          .date {
            color: #555;
            font-size: 0.775rem;
            font-family: $opensans;
             margin-bottom: 1rem;
          }
        }
      }
      &:hover {
        .post {
          background-color: #ddd;
        }
      }
    }
  }
  
  .section_title  {
    font-size: 1.625rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    margin-bottom: 0.5rem;
    margin-top: 2.75rem;
    font-family: $quicksand;
    color: #333;
    a {
      color: #333;
      &:hover {
        color: $newblue;
      }
    }
  }
  .events, .project_list, .document_list, .residency_list, .video_list {
    .row {
      .title_container {
        .name {
          a {
            color: #333;
            &:hover {
              color: $newblue;
            }
          }
        }
      }
    }
  }
  .residencies {
    .archive_image_box {
      .blue {
        .date {
          margin: 15px;
        }
      }
    }
  }
  
  .archive_image_box {
    .blue {
      .date {
        margin: 25px 15px;

      }
    }
  }
}