.festival{:style => "background-color: " + (@festival.background_colour.blank? ? '#FFF' : @festival.background_colour) }
  = render :partial => 'header'

        
  .row
    .small-9.columns= raw simple_format(@page.body)
    = render :partial => 'sidebar'

  - if user_signed_in?
    - if can? :edit, @page
      .row
        .small-3.columns= link_to '[edit]', edit_admin_subsite_page_path(@page.subsite, @page.id)
    