.page
  - unless @page.photos.blank?
    .carousel
      .slide{style: "background: url(#{@page.photos.first.filename.url(:wide)}) center center no-repeat; background-size: cover"} &nbsp;
        

  .row
    .columns.small-12
      %h1= @page.title
    
  .row
    .columns.small-12.medium-10
      = raw @page.body
