/*
 *= require foundation
 *= require livingspaces/stylesheets/foundation_overrides
 *= require livingspaces/stylesheets/_settings
 *= require livingspaces/stylesheets/livingspaces
 *= require slick
 *= require livingspaces/stylesheets/mobile
 */





body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

