@import 'variables';

$festival-orange: #ec9f43;
$festival-blue: #5095cc;

a {
  color: $festival-blue;
  &:hover {
    color: $festival-orange;
  }
}

.alert {
  padding: 0.4rem;
  background-color: red;
  color: white;
  font-size: 1.2rem;
  &.alert-notice {
    background-color: $festival-orange;
  }
}
section.top-bar-section {
  background-color: white;

  width: 100%;
}
nav.livingspaces {
  background: white;
  padding: 0.4rem;
  ul {
    margin-bottom: 1.8rem;
    padding: 0.4rem;
    a {
      color: #333;

    }
    li {
      
      list-style-type: none;
      float: left;
      font-size: 1.4rem;
      background: none;

    }
  }
}
.ls-menu {

  border-top: 1px dotted #999;
  overflow : hidden;
    ul {
     &.right {
       padding: 0;
     }
     &.title-area {
       line-height: 3.125rem;
       padding-left: 0.8rem;
     }
    li {  
      list-style-type: none;
      float: left;
      font-size: 1rem;

      padding-right: 1.2rem;
      background: none;
      &.name, span.name {
        height: 0;
        margin: 0;

        color: #FFF;
      }
      color: #CCC;
      a {
        font-family: $opensans;
        color: #FFF;
        &:hover {
          color: $festival-orange;
        }
      }
    }
  }  
}

.programme_carousel {
  border-top: 2px solid #444;
  max-height: 550px;
  overflow-y: hidden;
  .slick-slide img { width: 100%; }
  .slick-prev, .slick-next {
    display: none !Important;
  }
}


.overlapping_divider {
  float: left;
  position: relative;
  left: 50%;
  height: 0;
  .text {
    background: url('/assets/livingspaces/images/littlearrows.png') center 2.7rem no-repeat;
    z-index: 22;
    border: 2px solid #444;
    padding: 0.8rem 0.8rem 1rem 0.8rem;
    float: left;
    background-color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    text-align: center;
    left: -50%;
    margin-top: -25px;
    font-family: $quicksand;
  }
}

.tram {
  border-top: 2px solid #444;
  clear: left;
  height: 0;
  padding-bottom: 31.25%;
  overflow: hidden;
  .left {
    width: 50%;
    float: left;
 
  }
  .right {
    width: 50%;
    float: left;
    padding: 3rem;
    .blurb {
      font-weight: 300;
      color: #444;

      p {
        font-weight: 300;
        font-size: 0.875rem;
        color: #444;
      }
    }
  }
}

.inside_out_in {
  padding: 3rem;
  margin: 0;
  max-width: 100%;
  border-top: 2px solid #444;
  .one-third {

    padding: 1.5rem;
    h2 {
      color: $festival-orange;
      font-size: 1.3rem;
      text-transform: uppercase;
      border-bottom: 1px dotted $festival-blue;
    }
    .text {
      color: #444;
      font-weight: 300;
      p {
        color: #444;
        font-weight: 300;
        font-size: 0.9rem;
        
      }
    }
  }
}


.livingspaces {
  
  &.front_module {

    .wrapper_wrapper {
        position: absolute;
        top: 30px;
      .title_wrapper {
        float: left;
        position: relative;
        width: 450px;
  
          
        .title {
          padding: 0.4rem 1rem;
  //        position: absolute;
          top: 15px;
          background-color: white;
          float: left;
          position: relative;
          opacity: 0.8;
          margin-top: 35px;
          h6 {
            margin-bottom: 0;
            border-bottom: 1px dotted #999;
            float: left;
          }
          h2 {
            clear:left;
            margin-top: 0;
            margin-bottom: 0.25rem;
          }
          .blurb {
            max-width: 580px;
          }
          .blurb, .blurb p {
            font-size: 0.8rem;
            margin: 0; padding: 0;
            line-height: 1.2rem;
          }
        }
      }
    }
  }
}

.under_construction {
  background: url('/assets/under_construction.png') no-repeat center center;
  background-size: cover;
  .row {
    margin-left: 0;
  }
  min-height: 500px;
  .uctext {
    opacity: 0.66;
    padding: 150px 0;
    height: 500px;
    background-color: #F11;
  }
}

.top_banner {
  padding: 2.5rem 0 4rem 0;
  img {
    padding: 0.5rem;
  }
}
footer {
  background-color: #444;
  color: #bbbdbf;
  min-height: 50px;
  padding: 0.8rem;

  bottom: 0;
  width: 100%;
  
  .logo, .address {
    float: left;
    padding-right: 25px;
  }
  .address {
    padding-top: 0.2rem;
  }
  .social {
    a {
      padding-right: 5px;
    }
  }
  
  font-size: 0.9rem;
}

.support {
  border-top: 2px solid black;
  padding: 3.5rem 0;
  img {
    opacity: 0.75;
  } 
}

.blurb_lower {
  padding-bottom: 3.5rem;
  a {
    color: #444;
  }
}


.event_single {
  .carousel {
    min-height: 3rem;
    border-bottom: 2px solid #444;
    .slide {
      min-height: 300px;
    }
  }
  .event_inner {
    padding: 5rem 0 10rem 0;
    font-weight: 300;
    color: #444;
    li {
      list-style-type: circle;
    }
    h3 {
      text-transform: uppercase;
      color: #444;
      font-size: 1.18rem;
      
    }
    h2 {
      border-top: 4px solid #ec9f43;
      margin-top: 2rem;
      padding-top: 2rem;
      text-transform: uppercase;
      font-size: 1.5rem;
      a {
        color: black;

      }
    }
    p {
      font-weight: 300;
      color: #444;
    }
  
  }
}


.page, .theme {
  .carousel {
    min-height: 3rem;
    border-bottom: 2px solid #444;
    .slide {
      background-size: cover;
      min-height: 300px;
    }
  }
  .body-bottom, .theme-text {
    padding: 5rem 0 10rem 0;
    font-weight: 300;
    color: #444;
    li {
      list-style-type: circle;
    }
    
    h3 {
      text-transform: uppercase;
      color: #444;
      font-size: 1.18rem;
      
    }
    h2 {
      border-top: 4px solid #ec9f43;
      margin-top: 2rem;
      padding-top: 2rem;
      text-transform: uppercase;
      font-size: 1.5rem;
      a {
        color: black;

      }
    }
    p {
      font-weight: 300;
      color: #444;
    }
  }
}

.experience_form, #registration_form {
  padding-bottom: 10rem;
  font-family: $opensans;
  li {
    list-style-type: none;
    font-weight: 300;
    margin-bottom: 1rem;
    font-family: $opensans;
    .label {
      background: none;
      font-family: $opensans;
      color: #222;
      &.error {
        color: red;
      }
      font-weight: 300;
      font-size: 0.9rem;
      padding: 0.2rem 0;
      margin-bottom: 0.2rem;
    }
    input {
      margin: 0rem 0 0.5rem 0;
      border: 1px solid $festival-blue;
      &.error {
        border: 1px solid red;

      }
      font-family: $opensans;
      &:focus {
        border: 1px solid $festival-orange;
        &.focus {
          border: 1px solid red;
        }
      }
    }
    select, textarea {
      border: 1px solid $festival-blue;
      font-family: $opensans;
      &:focus {
        border: 1px solid $festival-orange;
      }
    }
    
    textarea {
      height: 120px;
    }
    
    p.inline-hints {
      font-size: 0.7rem;
      color: #555;
      font-weight: 300;
      font-family: $opensans;
    }
  }
  input[type=submit] {
    margin: 1.5rem 0 0 0;
    border: 1px solid #444;
    padding:  0.8rem;
    font-family: $quicksand;
    text-transform: uppercase;
    background: none;
    color: #444;
    font-size: 1.1rem;
  }
}

.theme {
  .theme-text {
    padding-bottom: 1rem;
  }
}

.map {
  margin: -9rem 0 0 0;
  #mapcontainer {
    width: 100%;
    height: 550px;  
  }
}