@import 'variables';

$festival-orange: #ec9f43;
$festival-blue: #5095cc;

a {
  color: $festival-blue;
  &:hover {
    color: $festival-orange;
  }
}

.alert {
  padding: 0.4rem;
  background-color: red;
  color: white;
  font-size: 1.2rem;
  &.alert-notice {
    background-color: $festival-orange;
  }
}
//section.top-bar-section {
//  background-color: white;
//
//  width: 100%;
//}

p {
  line-height: 1.75rem;
}

.error_page {
  padding: 5.5rem 0;
  img {
    padding: 2rem 0;
    margin: 0 auto;
  }
  a {

    margin: 2rem 0;
    color: $festival-orange;
    border: 2px solid $festival-orange;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.4rem;
  }
}
nav.livingspaces {
  background: white;
  padding: 0.4rem;
  ul {
    margin-bottom: 1.8rem;
    padding: 0.4rem;
    a {
      color: #333;

    }
    li {
      
      list-style-type: none;
      float: left;
      font-size: 1.4rem;
      background: none;

    }
  }
}
nav.top-bar {
  ul.title-area {
    li.name {
      padding-left: 0.4rem;
      span.date, .small_date {
        color: #CCC;
        padding-left: 0.2rem;
        font-size: 0.85rem;
      }
      a {
        color: #FFF;
        &:hover {
          color: $festival-orange; 
        }
      }
    }
  }
  
  li.lang {
    padding-right: 0.4rem;
    line-height: 3.125rem;
    font-size: 0.8rem;
    a {
      font-size: 0.7rem;
      float:left;
      padding: 0 !important;
      width: auto;
      color: #FFF;
    }
    span.eng {
      float: left;
      color: $festival-blue;
    }
    span.fin {
      color: $festival-blue;
    }
    span.bar {
      border: none;
      color: #FFF;
      float: left;
      padding: 0 0.3rem;
      display: inline;
    }
  }
}
.ls-menu {

  border-top: 1px dotted #999;
  overflow : hidden;

  ul {
    &.right {
      padding: 0;
    }
    &.title-area {
      line-height: 3.125rem;
      padding-left: 0.8rem;
      a {
        font-size: 0.85rem;
      }
    }
    &.second-title {
   
      li {
        a {
          span {
            font-size: 0.9rem;
            line-height: 1.4rem;
           }
          span.dates {
            color: #999;
          }
        }
        font-size: 0.7rem;
      }
    }
  }
  #menu {

  }
  li {  
    list-style-type: none;
    float: left;
    font-size: 1rem;

    padding-right: 0.8rem;
    background: none;
    &.lang {
      line-height: 3.125rem;
      font-size: 0.8rem;
      a {
        font-size: 0.7rem;
        float:left;
        padding: 0 !important;
        width: auto;
        color: #FFF;
      }
      span.eng {
        float: left;
        color: $festival-blue;
      }
      span.fin {
        color: $festival-blue;
      }
      span.bar {
        border: none;
        color: #FFF;
        float: left;
        padding: 0 0.3rem;
        display: inline;
      }
    }
    &.name, span.name {
      height: 0;
      margin: 0;

      color: #FFF;
    }
    color: #CCC;
    a {
      font-family: $opensans;
      color: #FFF;
      &:hover {
        color: $festival-orange;
      }
    }
  }
}

.programme_carousel {
  max-height: 550px;
  overflow-y: hidden;
}

.programme_carousel, .image_carousel, .flickr_carousel {
  border-top: 2px solid #444;

  .slick-slide img { width: 100%; }
  .slick-prev, .slick-next {
    display: none !Important;
  }
}


.image_carousel, .flickr_carousel {
  .img {
    .thumb {
      display: block;
     
      
    }
  }
  .slick-slide {
    max-height: 550px;
    overflow-y: hidden;
    .thumb {
      img {
        width: 65px;
        height: auto;
      }
    }
  }
  ul.slick-dots {
    margin: 5px 0 0 0;

    li {
      width: 75px;
      height: 75px;
      list-style-type: none;
      float: left;
    }
  }
}


.overlapping_divider {
  float: left;
  position: relative;
  left: 50%;
  height: 0;
  .text {
    background: url('/assets/livingspaces/images/littlearrows.png') center 2.7rem no-repeat;
    z-index: 22;
    border: 2px solid #444;
    padding: 0.8rem 0.8rem 1rem 0.8rem;
    float: left;
    background-color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    text-align: center;
    left: -50%;
    margin-top: -25px;
    font-family: $quicksand;
    a { 
      color: #444;
      &:hover { 
        color: $festival-blue;
      }
    }
  }
}

.tram {
  border-top: 2px solid #444;
  clear: left;
  height: 0;
  padding-bottom: 31.25%;
  overflow: hidden;
  .left {
    width: 50%;
    float: left;
 
  }
  .right {
    width: 50%;
    float: left;
    padding: 3rem;
    .blurb {
      font-weight: 300;
      color: #444;

      p {
        font-weight: 300;
        font-size: 0.875rem;
        color: #444;
      }
    }
  }
}

.inside_out_in {
  padding: 3rem;
  margin: 0;
  max-width: 100%;
  border-top: 2px solid #444;
  .one-third {

    padding: 1.5rem;
    h2 {
      color: $festival-orange;
      font-size: 1.3rem;
      text-transform: uppercase;
      border-bottom: 1px dotted $festival-blue;
    }
    .text {
      color: #444;
      font-weight: 300;
      p {
        color: #444;
        font-weight: 300;
        font-size: 0.9rem;
        
      }
    }
  }
}


.livingspaces {
  
  &.front_module {

    .wrapper_wrapper {
        position: absolute;
        top: 30px;
      .title_wrapper {
        float: left;
        position: relative;
        width: 450px;
  
          
        .title {
          padding: 0.4rem 1rem;
  //        position: absolute;
          top: 15px;
          background-color: white;
          float: left;
          position: relative;
          opacity: 0.8;
          margin-top: 35px;
          h6 {
            margin-bottom: 0;
            border-bottom: 1px dotted #999;
            float: left;
          }
          h2 {
            clear:left;
            margin-top: 0;
            margin-bottom: 0.25rem;
          }
          .blurb {
            max-width: 580px;
          }
          .blurb, .blurb p {
            font-size: 0.8rem;
            margin: 0; padding: 0;
            line-height: 1.2rem;
          }
        }
      }
    }
  }
}

.under_construction {
  background: url('/assets/under_construction.png') no-repeat center center;
  background-size: cover;
  .row {
    margin-left: 0;
  }
  min-height: 500px;
  .uctext {
    opacity: 0.66;
    padding: 150px 0;
    height: 500px;
    background-color: #F11;
  }
}

.top_banner {
  padding: 2.5rem 0 4rem 0;
  img {
    padding: 0.5rem;
  }
}
footer {
  background-color: #444;
  color: #bbbdbf;
  min-height: 50px;
  padding: 0.8rem;

  bottom: 0;
  width: 100%;
  
  .logo, .address {
    float: left;
    padding-right: 25px;
  }
  .address {
    padding-top: 0.2rem;
  }
  .social {
    a {
      padding-right: 5px;
    }
  }
  
  font-size: 0.9rem;
}

.support {
  border-top: 2px solid black;
  padding: 3.5rem 0;
  img {
    opacity: 0.75;
  } 
}

.blurb_lower {
  padding-bottom: 3.5rem;
  a {
    color: #444;
  }
}

.theme_single {
  .share_bar {
    border-top: 1px solid $festival-orange;
  }
  
  h2 {
    border-top: 4px solid #ec9f43;
    &.no_bar {
      border-top: none;
      padding-top: 0;
      margin: 0.6rem 0;
      
    }
    margin-top: 2rem;
    padding-top: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    a {
      color: black;

    }
  }
  .related_content {
    padding-bottom: 2rem;
    .related_heading {
      width: 100%;
      border-bottom: 3px solid $festival-orange;
    }
    .related {
      h3 {
        text-transform: uppercase;
        color: #444;
        font-size: 1.18rem;
      
      }
      font-size: 0.9rem;
      float: left;
      &.odd {
        padding-right: 0.5rem;
        padding-left: 0;
        clear: both;
      }
      &.even {
        padding-right: 0;
      }
      &.end {
        clear: both;
      }
  
      a {

        .related_image_box {
          width: 100%;
          height: 250px;
          background-size: cover !important;
          border-bottom: 4px solid $festival-orange;
          margin: 1.5rem 0 1rem 0;
        }
        .blurb, .blurb p {
          font-weight: 300;
          font-size: 0.8rem;
          line-height: 1.4rem;
          color: #444;
          margin-bottom: 0.7rem;
        }
      }
    }
    
  }
}
.event_single, .post_single, .theme_single {
  
  .post_body {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $festival-orange;
    &.noborder {
      border-bottom: none;
    }
    
    margin-bottom: .5rem;
    
  }
  
  .prev_next {
    clear: both;
    font-size: 0.875rem;
    border-top: 1px solid $festival-orange;
    padding-top: 0.6rem;
    .previous {
      max-width: 48%;
      float: left;
    }
    .next {
      max-width: 48%;
      float: right;
      text-align: right;
    }
  }
  
  .related_content {
    border-bottom: 3px solid $festival-orange;
    border-top: 3px solid $festival-orange;
  }

  .related_event, .related_content {
    font-size: 0.9rem;
    .related {
      float: left;
      padding-bottom: 1.8rem;
      &.odd {
        padding-right: 1rem;
        clear: both;
        &.end {
          clear:both;
        }
      }
      &.even {
        padding-left: 1rem;
      }

    }
    a {

      .related_image_box {
        width: 100%;
        height: 250px;
        background-size: cover !important;
        border-bottom: 4px solid $festival-orange;
        margin: 1.5rem 0 1rem 0;
      }
      .blurb, .blurb p {
        font-size: 0.8rem;
        line-height: 1.4rem;
        color: #444;
        margin-bottom: 0.7rem;
      }
    }
    
    &.by_tag {
      border-top: none;
    }
  }
  .carousel {
    min-height: 3rem;
    border-bottom: 2px solid #444;
    .slide {
      min-height: 300px;
    }
  }
  .event_inner, .post_inner {
    padding: 5rem 0 10rem 0;
    font-weight: 300;
    color: #444;
    .content {
      border-bottom: 1px solid $festival-orange;
      &.noborder {
        border-bottom: none;
      }
    }
    .post_title {
      color: #444;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    
    .carousel_post_container {
      padding-bottom: 1rem;
      border-bottom:  4px solid $festival-orange;
      margin-bottom: 2rem;
    }
    
    .metadata {
      color: #222;
      border-bottom: 4px solid $festival-orange;
      margin-bottom: 0;
      .date, .location {
        font-size: 1.3rem;
        font-weight: 300;
        p {
          margin-bottom: 0;
        }
      }
      .festival_themes {
        text-transform: none;
        font-style: normal;
        font-size: 1.1rem;
        margin-top: 0.4rem;
        span.theme {

          text-transform: none;
          font-style: normal;
          font-size: 1.1rem;
          a {
      
          }
       
        }
      }
      .cost {
        font-size: 0.9rem;
        font-style: italic;
        color: #808080;
        text-transform: lowercase;
        margin: 1rem auto;
      }
      .map_container {
        p.map_link, p.documentation_link {
          margin: 0.3rem auto;
          text-transform: uppercase;
          font-family: $quicksand;
          font-weight: 400;

      
          a { color: $festival-orange; }
        }
      }
    }
    .google_map {
      display: none;
    }
    #mapcontainer {
      height: 200px;
    }
    .content {
      margin-top: 1rem;
    }
    li {
      list-style-type: circle;
    }
    h3 {
      text-transform: uppercase;
      color: #444;
      font-size: 1.18rem;
      
    }
    h2 {
      border-top: 4px solid #ec9f43;
      &.no_bar {
        border-top: none;
        padding-top: 0;;
        margin: 0.6rem 0;
      }
      margin-top: 2rem;
      padding-top: 2rem;
      text-transform: uppercase;
      font-size: 1.5rem;
      a {
        color: black;

      }
    }
    p {
      font-weight: 300;
      color: #444;
    }
  
  }
}


.page, .theme {
  &.preliminary-programme, &.programme, &.program {
    .body-bottom {
      ul {
        margin: 1.5rem 0;
        li {
          list-style-type: none;
          clear: both;
          margin-bottom: 1.3rem;
          line-height: 1.5rem;
          small {
            font-size: 75%;
            font-weight: 400;
          }
          ul {
            margin-left: 3rem;
            li {
              color: #666;
              kbd {
                font-weight: 300;
                height: 5rem;
              }
            }
          }
          kbd {
            background: none;
            font-weight: 400;
            font-family: $opensans;
            color: #000;
            border: none;
            width: 160px;
            display: block;
            float: left;
            padding-right: 25px;
            text-align: right;
            height: 3rem;
            
          }
        }
      }
    }
  }
  .carousel {
    min-height: 3rem;
    border-bottom: 2px solid #444;
    .slide {
      background-size: cover;
      min-height: 300px;
    }
  }
  .body-bottom, .theme-text {
    padding: 5rem 0 10rem 0;
    font-weight: 300;
    color: #444;
    li {
      list-style-type: circle;
    }
    
    h3 {
      text-transform: uppercase;
      color: #444;
      font-size: 1.18rem;
      
    }
    h2 {
      border-top: 4px solid #ec9f43;
      margin-top: 2rem;
      padding-top: 2rem;
      text-transform: uppercase;
      font-size: 1.5rem;
      a {
        color: black;

      }
    }
    p {
      font-weight: 300;
      color: #444;
    }
  }
}

#registration_form {
  border-bottom: 1px solid $festival-orange;
  &.hasdoc {
    border-bottom: none;
  }
}
.experience_form, #registration_form {
  padding-bottom: 4rem;

  font-family: $opensans;
  li {
    list-style-type: none;
    font-weight: 300;
    margin-bottom: 1rem;
    font-family: $opensans;
    .label {
      background: none;
      font-family: $opensans;
      color: #222;
      &.error {
        color: red;
      }
      font-weight: 300;
      font-size: 0.9rem;
      padding: 0.2rem 0;
      margin-bottom: 0.2rem;
    }
    input {
      margin: 0rem 0 0.5rem 0;
      border: 1px solid $festival-blue;
      &.error {
        border: 1px solid red;

      }
      font-family: $opensans;
      &:focus {
        border: 1px solid $festival-orange;
        &.focus {
          border: 1px solid red;
        }
      }
    }
    select, textarea {
      border: 1px solid $festival-blue;
      font-family: $opensans;
      &:focus {
        border: 1px solid $festival-orange;
      }
    }
    
    textarea {
      height: 120px;
    }
    
    p.inline-hints {
      font-size: 0.7rem;
      color: #555;
      font-weight: 300;
      font-family: $opensans;
    }
  }
  input[type=submit] {
    margin: 1.5rem 0 0 0;
    border: 2px solid $festival-blue;
    padding:  0.8rem;
    cursor: pointer;
    font-family: $quicksand;
    text-transform: uppercase;
    background: none;
    color: $festival-blue;
    font-size: 1.1rem;
    &:hover {
      border: 2px solid $festival-orange;
      color: $festival-orange;
    }
  }
}

.share_bar {
  margin: 0;
  padding: .6rem 0;
  &.lined {
    border-top: 1px solid $festival-orange;
    padding-top: 0.5rem;
  }
}
.theme {
  .theme-text {
    padding-bottom: 1rem;
  }
}

.map {
  margin: -9rem 0 0 0;
  #mapcontainer {
    width: 100%;
    height: 800px;  
  }
}

.inside_out_container {
  padding: 4rem 0 0 0;

  .short_description {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid $festival-orange;
  }
  .activities {
    .title {
      text-transform: uppercase;
      font-family: $quicksand;
      font-weight: 300;
      font-size: 1.3rem;
      margin-bottom: 0.8rem;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        font-size: 1.1rem;
        list-style-type: none;
        a {
          color: $festival-orange;
        }
        .experience_info {
          margin-left: 1rem;
          display: none;
          padding-bottom: 1.5rem;
          p {
            margin: 0;
            font-size: 0.75rem;
            color: #444;
            line-height: 1.2rem;
            font-weight: 300;
          }
        }
      }
    }
  }
  .submit_button {
    margin: 2.5rem 0;
    a.btn {
      border: 2px solid $festival-blue;
      padding:  0.8rem;
      cursor: pointer;
      font-family: $quicksand;
      text-transform: uppercase;
      background: none;
      color: $festival-blue;

      font-size: 1.1rem;
      &:hover {
        border: 2px solid $festival-orange;
        color: $festival-orange;
      }
    }
  }
    #mapcontainer {
      width: 100%;
      height: 450px;  
    }

  
  .right_half {
    padding: 4.5rem 1.5rem;
    width: 50%;
    float: left;
    ul {
      li {
        list-style-type: circle;
        margin-bottom: 1.1rem;
        a {
          color: $festival-orange;
          &:hover { color: $festival-blue;}
        }

      }
    }
  }
}


.bodyContent {
  p {
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin: 0.5rem 0;
    font-weight: 300;
  }

}
.infowindow_content {
  h4.firstHeading {
    line-height: 1.5rem;
  }
}

#recaptcha_area input[type="text"] {
  display: inline-block;
  height: auto;
}
#recaptcha_response_field {
  margin: 12px 0 0 0!important;
}

.news_container {
  padding: 2rem;
  border-top: 2px solid black;
  .news_image {
    border-bottom: 4px solid $festival-orange;
    margin-bottom: 1rem;
  }
  .text_box {
    .title {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 0.6rem;
      a { color: #444; 
        &:hover {
          color: $festival-orange;
        }
      }
    }
    .body, .body p {
      color: #444;
      font-weight: 300;
      font-size: 0.9rem;

    }
  }
  .more_news {
    margin: 1rem 0 2rem 0;
    font-weight: 300;
    a {
      color: $festival-blue;
      &:hover {
        color: $festival-orange;
      }
    }
  }
}

.posts_index_container {
  padding-top: 2rem;
  h2 {
    margin-bottom: 2rem;
  }

  .post_row {
    margin-top: 2rem;
    margin-bottom: 4rem !important;
    .end {
      float: left !important;
    }
    
    .post_small {

      .categories {
        text-transform: uppercase;
        border-bottom: 1px solid #191919;
        font-family: $quicksand;
        font-size: 0.8rem;

        color: #333;
      }
  
      .post_image {
        padding-bottom: 100%;
        height: 0;
        margin: 0.5rem 0;
        cursor: pointer;
        background-position: center;
    
        .gray {
          display: none;
          background-color: $festival-orange;
          opacity: 1;
          padding-bottom: 100%;
          height: 0;
          width: 100%;
          overflow: hidden;
          position: relative;

          .excerpt {
            font-size: 0.9rem;
            line-height: 1.6rem;
            font-family: $quicksand;
            a { color: #fff; }
            margin: 1.5rem;
          }
          .hashtags {
            right: 15px;
            font-size: 0.8rem;
            bottom: 1rem;
            .hashtag {
              float: none;
              text-align: right;
              margin-bottom: 0.3rem;
              a {
                color: #fff;
              }
            }
            position: absolute;
          }
        }
      }
    }
  }
}

.posts_index_container {
  .post_row {
    .post_image {
      .gray {
        .excerpt {
          color: $festival-blue;
        }
      }
    }
    .lower {
      .metadata {
        span.date {
          color: #444;
          font-weight: 300;
          font-size: 0.8rem;
        }
      }
      .text_box {
        .title {
          font-size: 1.3rem;
          line-height: 1.75rem;
          text-transform: uppercase;
          font-weight: 300;
          margin-bottom: 0rem;
          a { color: #444; 
            &:hover {
              color: $festival-orange;
            }
          }
        }

      }
    }
  }
}

// tram map

table.tram_map {
   border: 1px solid $festival-orange;
   border-collapse: collapse;
  tr {
    &:nth-of-type(even) {
      background-color: #EBF1F5;
    }
    td {}
  }
}

#documentation {
  h2 {

  }
  .flickr_galleries {
    clear: left;
  }
}
.festival-2015_archive {
  ul {
    li {
      margin-bottom: 1rem;
      a.button.tiny {
        margin-bottom: 0;
      }
      .sub_info {
        color: #777;
        font-size: 0.8rem;

      }
    }
  }
}

.lscontainer {
    min-height: 70%;
    min-height: -webkit-calc(100% - 50px);
    min-height: -moz-calc(100% - 50px);
    min-height: calc(100% - 50px);

}