.row
  .small-10.columns.large-offset-1
    %h2 
      Front page design
      
.row
  .small-10.columns.large-offset-1
    - @frontitems.order(:position).each do |fi|
      .front_item
        = fi.name
        %small= link_to 'edit', edit_admin_frontitem_path(fi)
      
  .row
    .small-6.columns= button_to 'Add new frontpage item', new_admin_frontitem_path, class: [:button, :round, :small], method: :get