@import 'variables';

body {
  background-color: $beige;
  padding-top: 25px;
}
a {
  color: $link;
  &:hover {
    color: $hover;
  }
  
}
header {
  margin-bottom: 30px;
  h1 {
    a {
      color: black;
      &:hover {
        color: black;
      }
    }
  }
}


.right_wrap {
  margin-bottom: 40px !important;
  .language {
    cursor: pointer;
    float: right;
    margin-left: 30px;
    padding-top: 20px;
    img {
      z-index: -1;

    }
    .current {
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 9px;
      margin-top: -28px;
      float: left;
    }
    .choices {
      z-index: 32;
      display: none;
      position: absolute;
      .choice {
        a {
          color: #000;
          &:hover { 
            color: #4a97c7;
          }
          
        }
        margin-top: 8px;
      
        .choice_circle {
        
        }
        .choice_text {
          text-transform: uppercase;
          font-weight: bold;
          margin-left: 9px;
          margin-top: -28px;
          float: left;
          text-align: center;

        }
      }
    }
  }
  .bar_menu {
    #menutext {
      display: block;
      float: left;
      padding-top: 33px;
      margin-right: 10px;
      font-weight: bold;
      font-family: Open Sans, Helvetica, sans-serif;
      text-transform: lowercase;
    }
    float: right;
    .bar {
      margin-right: 5px;
      float: left;
      padding-top: 25px;
      a {
        padding: 2px;
      }
      &:hover, &.active {
        padding-top: 0px;
        padding-bottom: 25px;
      }
    }
  }
}

#main {
  clear: left;
}

#sidebar {  
  .padding-top: 40px;
  .logo {
    font-size: 3em;
    clear: right;
    line-height: 60px;
    font-weight: 600;
    text-transform: lowercase;
    text-align: right;
    letter-spacing: 8px;
    font-family: Helvetica;
    a {
      color: #000;
      &:hover { 
        color: #666; 
      }
    }
    .first, .second, .third { 
      float: right;
      border-bottom: 3px dashed #000;
    }
    .third {
      margin-bottom: 75px;
    }
  }
  
  .nav_lines {
    position: relative;
    width: 200px;
    height: 200px;
    top: 125px;
    img.navbg {
      z-index: -1;
      position: absolute;
      left: 0;
    }
    .item {
      z-index:100;
      position:absolute;    
      color:white;
      font-size: 15px;
      font-family: Open Sans, Helvetica, Arial, sans-serif;
      font-weight:bold;
      text-transform: uppercase;
      &.publications {
        left:125px;
        top: 155px;
      }
      &.about {
        top: -2px;
        left: 185px;
      }
      &.partners {
        left: 171px;
        top: 123px;
      }
      &.events {
        left: 60px;
        top: 125px;
      }
      &.news {
        left: 75px;
        top: 27px;
      }
      a {
        color: #000;
      }
    }
  }
  
  .calendar {
    margin-top: 150px;
    h5 {
      font-size: 1em;
      font-family: Open Sans, Helvetica, Arial, sans-serif;
      font-weight:bold;
      text-transform: uppercase;
    }
    ul.calendar_events {
      list-style-type: none;
      margin: 0px;
      
      li {
        font-family: Open Sans, Helvetica, Arial, sans-serif;
        line-height: 1.4em;
        margin-bottom: 15px;
      }
    }
  }
}

ul.side-nav {
  li {

    font-size: 16px;
    font-weight: 200;
    a:hover {
      color: #0303df;
    }
    .date {
      font-size: 13px;
    }
  }
}

.event, .event_index {
  h2 {

    line-height: 1.125;
    margin-bottom: 15px;
  }
  .event_row {
    margin-bottom: 40px;
    .name, .date {
      font-size: 1.0em;
      line-height: 1.6em;

    }
    .blurb {
      font-size: 1.0em;
      line-height: 1.4em;
      color: #333;
    }
  }
  .event_image {
    margin-bottom: 25px;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }

  .metadata {
    margin: 15px 0px;
    font-weight: 200;
    font-size: 13px;
  }
  .body, .body p {

    font-size: 15px;
    line-height: 19px;
  }
}

.home_page {
  .feed_row {
    margin-bottom: 40px;
  }
  .feed_image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 25px;
  }
  .title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 5px;
  }
  .date, .blurb {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
  }

  
}

.node_index {
  padding-top: 2rem;
  .node {
    margin-bottom: 3rem;
    .title {
      font-size: 1.5em;
      margin-bottom: 5px;
      a {
        color: #333;
      }
    }
    .metadata {
      .city {
        color: #333;
        margin: 5px 0px;
      }
      .website {
        margin-bottom: 5px;
      }
    }
    .description {
      font-size: 0.9rem;
    }
  }
}

.olsof-footer {
  margin-top: 25px;
  padding: 25px 0px;

}

.post, .event {

  h2 {

    line-height: 1.125;
    margin-bottom: 15px;
  }
  .metadata {
    margin-bottom: 15px;
    font-weight: 200;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .body {
    line-height: 19px;
  }
  .media {
    .image_carousel {
      margin-bottom: 7px;
        img {
          width: 100%;
          height: auto;
        }
        .img {
          margin-bottom: 15px;
        }
      }
    }
  
  
  .related_post_link {
    font-size: 1.2rem;
    margin: 20px 0px;
  }
}

.page {
  .content {
    margin-top: 70px;
    h2, h3 {
      font-size: 1.3em;
      line-height: 1.4em;
      margin-bottom: 15px;
    }
    p {

      line-height: 1.4em;
    }
  }
}

.node {
  .content {
    margin-top: 140px;
    h2, h3 {

      line-height: 1.125;
      margin-bottom: 15px;
    }
    
    .metadata {
      p {
        margin: 0px;
      }

      margin: 35px 0px;
    }
    p, .body {

      line-height: 19px;
    }
  }
}

