@import 'bulma';
@import 'fonts';
@import 'variables';
@import 'bulma_overrides';

body {
  font-family: 'nobileregular';
  background-color: $lightpink;
  min-height: 100vH;

}

a {
  color: $pink;
  &:hover {
    color: $yellow;
  }
}

h1.title {
  font-size: 3rem;
}

h2.title {
  font-size: 2.5rem;
}

h1, h2 {
  &.title {
    text-align: center;
    font-family: 'Coustard';
    color: $pink;
    text-transform: uppercase;
  }
}

.title {
  color: $pink;
  font-family: 'Coustard';
}
a.title {
  &:hover {
    color: #666;
  }
}

nav.navbar {
  background-color: $blue;
  .navbar-dropdown {
    background-color: $blue;
  }
  .navbar-item, .navbar-link {
    color: #333;
    font-family: 'Coustard';
    &:not(.is-arrowless)::after {
      border-color: $yellow;
    }
    &.has-dropdown:hover {
      .navbar-link {
        background-color: $blue;
      }
    }
    &:hover {
      background-color: $blue;
      color: $pink;
      .navbar-link {
        background-color: $blue;
      }
    }
  }
}

.event_link {
  &:hover {
    .event_image {
      img {
        filter: grayscale(100%);
      }
    }
    .event_info {
      .title {
        color: $pink;
      
      }
      .date {
        color: $pink;
      }

    }
  }
  .event_info {
    .title {
      font-size: 1.25rem;
      color: #666;
      margin-bottom: 0.4rem;
    }
    .date {
      color: #666;
    }
    .excerpt {
      margin-top: 1rem;
      font-size: 1rem;
      color: #666;
      margin-bottom: 2rem;
    }
  }
}

.post {
  .text_box {
    margin-bottom: 2rem;
    .title {
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
    }
    .date {
      margin-bottom: 1rem;
    }
  }
}
section.home {
  article {
    .top_banner {
      .text-center {
        img {
          width: 100%;
        }
      }
    }
  }
}


section.page {
  h3 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }
}