.page
  .row
    .small-10.columns.medium-offset-1.title= t :publications
  .row
    .small-10.column.medium-offset-1.content
      = image_tag 'https://s3-eu-west-1.amazonaws.com/pixelache/media/publication-page-image-small.jpg'
      Publications coming soon!
