/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require foundation-datepicker
 *= require jquery-ui/smoothness
*/

@import "font-awesome";

header {
  margin-bottom: 25px;
}

form {
  li {
    list-style-type: none;
  }
  
  .label {
    float: left;
    text-align: right;
    margin-right: 10px;
    background-color: inherit;
    padding-left: 0px;
    color: #666;
  }
  p.inline-hints {
    font-size: 10px;
    color: #666;
  }
}