/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require foundation-datepicker
 *= require jquery-ui/smoothness
*/

@import "font-awesome";

header {
  margin-bottom: 25px;
}

form {
  dl.tabs {
    
    dd {
      border-top: 1px dotted #333;
      border-right: 1px dotted #333;
      border-left: 1px dotted #333;
    }
  }
  .tabs-content {
    border: 1px dotted #333;
    padding-left: 10px;
  }
  li {
    list-style-type: none;
  }
  
  .label {
    float: left;
    text-align: right;
    margin-right: 10px;
    background-color: inherit;
    padding-left: 0px;
    color: #666;
  }
  p.inline-hints {
    font-size: 10px;
    color: #666;
  }
}

table {
  td {
    .small {
      font-size: 9px;
      text-transform: uppercase;
    }
    span.evolved {
      text-decoration: line-through;
    }
  }
  tr.child {
    display: none;
  }
  
}

.post_body, .post_body p {
  font-size: 0.9em;
  margin-bottom: 0.8em;
}

.filter_box {
  .filter_title { float: left;}
}