= content_for :page_tree do
  .row.left-collapse
    %span.leaf
      %strong= link_to t(:projects), projects_path

.project_index      
  - @active_projects.shuffle.each do |project|
    = render :partial => 'project_strip', locals: {project: project}
  
  - @inactive_projects.sort_by(&:name).each do |project|
    = render :partial => 'project_strip', locals: {project: project}