#projects_tree
  %ul
    - Project.roots.sort_by(&:name).each do |project|
      - next if project.evolvedfrom
      = render :partial => 'projectnode', :locals => {:project => project}


                
= content_for :jquery do
  :plain
     $('#projects_tree').jstree();