#projects_tree
  %ul
    - Project.roots.sort_by(&:name).each do |project|
      %li= render :partial => 'projectnode', :locals => {:project => project}
      - unless project.events.empty?
        %ul.events
          - project.events.sort_by(&:start_at).each do |event|
            %li= event.event_with_date

                
= content_for :jquery do
  :plain
     $('#jstree_demo_div').jstree();